Repository eslint-functional/eslint-plugin-functional: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix, cspell --config=.cspell.json, cspell lint --no-progress --show-suggestions --show-context --no-must-find-files --dot, markdownlint-cli2 --fix, pnpm dedupe && :

test update for eslint-vitest-rule-tester v2
  tests/rules/functional-parameters.test.ts
  tests/rules/immutable-data/array.test.ts
  tests/rules/immutable-data/map.test.ts
  tests/rules/immutable-data/object.test.ts
  tests/rules/immutable-data/set.test.ts
  tests/rules/no-class-inheritance.test.ts
  tests/rules/no-classes.test.ts
  tests/rules/no-conditional-statements.test.ts
  tests/rules/no-expression-statements.test.ts
  tests/rules/no-let.test.ts
  tests/rules/no-loop-statements.test.ts
  tests/rules/no-mixed-types.test.ts
  tests/rules/no-promise-reject.test.ts
  tests/rules/no-return-void.test.ts
  tests/rules/no-this-expressions.test.ts
  tests/rules/no-throw-statements.test.ts
  tests/rules/no-try-statements.test.ts
  tests/rules/prefer-immutable-types/parameters.test.ts
  tests/rules/prefer-immutable-types/return-types.test.ts
  tests/rules/prefer-immutable-types/variables.test.ts
  tests/rules/prefer-property-signatures.test.ts
  tests/rules/prefer-readonly-type.test.ts
  tests/rules/prefer-tacit.test.ts
  tests/rules/type-declaration-immutability.test.ts
Due: prettier --write, eslint --fix, cspell --config=.cspell.json

style: small fix up
  src/rules/prefer-tacit.ts
  tests/rules/prefer-tacit.test.ts
Due: prettier --write, eslint --fix, cspell --config=.cspell.json

fix: mark no-throw-statements rule as requiring type checking
  src/rules/no-throw-statements.ts
Due: prettier --write, eslint --fix, cspell --config=.cspell.json

build: lock update
  pnpm-lock.yaml
Due: pnpm dedupe && :

fix: prevent to report `prefer-tacit` in direct child of getter (#965)
  src/rules/prefer-tacit.ts
  tests/rules/prefer-tacit.test.ts
Due: prettier --write, eslint --fix, cspell --config=.cspell.json

fix: mark no-throw-statements rule as requiring type checking (#963)
  src/rules/no-throw-statements.ts
Due: prettier --write, eslint --fix, cspell --config=.cspell.json

docs: update auto gen docs
  README.md
  docs/rules/no-throw-statements.md
Due: prettier --write, eslint --fix, cspell --config=.cspell.json, cspell lint --no-progress --show-suggestions --show-context --no-must-find-files --dot, markdownlint-cli2 --fix

style: remove unused eslint-disable
  src/settings/immutability.ts
Due: prettier --write, eslint --fix, cspell --config=.cspell.json

chore(release): 9.0.2 [skip ci]
  CHANGELOG.md
Due: prettier --write, eslint --fix, cspell --config=.cspell.json, cspell lint --no-progress --show-suggestions --show-context --no-must-find-files --dot, markdownlint-cli2 --fix

Notes added by 'git notes add'
  5e6f36cad1c132212543a395c26f8e3158cad25e
Due: none

fix: update tests for ESLint 10 compatibility
  package.json
  pnpm-lock.yaml
  tests/rules/__snapshots__/functional-parameters.test.ts.snap
  tests/rules/__snapshots__/no-class-inheritance.test.ts.snap
  tests/rules/__snapshots__/no-classes.test.ts.snap
  tests/rules/__snapshots__/no-conditional-statements.test.ts.snap
  tests/rules/__snapshots__/no-expression-statements.test.ts.snap
  tests/rules/__snapshots__/no-let.test.ts.snap
  tests/rules/__snapshots__/no-loop-statements.test.ts.snap
  tests/rules/__snapshots__/no-mixed-types.test.ts.snap
  tests/rules/__snapshots__/no-promise-reject.test.ts.snap
  tests/rules/__snapshots__/no-return-void.test.ts.snap
  tests/rules/__snapshots__/no-this-expressions.test.ts.snap
  tests/rules/__snapshots__/no-throw-statements.test.ts.snap
  tests/rules/__snapshots__/no-try-statements.test.ts.snap
  tests/rules/__snapshots__/prefer-property-signatures.test.ts.snap
  tests/rules/__snapshots__/prefer-readonly-type.test.ts.snap
  tests/rules/__snapshots__/prefer-tacit.test.ts.snap
  tests/rules/__snapshots__/type-declaration-immutability.test.ts.snap
  tests/rules/immutable-data/__snapshots__/array.test.ts.snap
  tests/rules/immutable-data/__snapshots__/map.test.ts.snap
  tests/rules/immutable-data/__snapshots__/object.test.ts.snap
  tests/rules/immutable-data/__snapshots__/set.test.ts.snap
  tests/rules/prefer-immutable-types/__snapshots__/parameters.test.ts.snap
  tests/rules/prefer-immutable-types/__snapshots__/return-types.test.ts.snap
  tests/rules/prefer-immutable-types/__snapshots__/variables.test.ts.snap
  tests/utils/configs.ts
Due: prettier --write, eslint --fix, cspell --config=.cspell.json, cspell lint --no-progress --show-suggestions --show-context --no-must-find-files --dot, pnpm dedupe && :

Fix: build with update typescript - Remove unnecessary @ts-expect-error for eslint-plugin-eslint-plugin (now has types in v7.3.1) - Update vitest.config.ts for vitest 4.x (use provider instead of all)
  eslint.config.js
  vitest.config.ts
Due: prettier --write, eslint --fix, cspell --config=.cspell.json

fix: update @rebeccastevens/eslint-config
  package.json
  pnpm-lock.yaml
Due: prettier --write, eslint --fix, cspell lint --no-progress --show-suggestions --show-context --no-must-find-files --dot, pnpm dedupe && :

chore: work
  eslint.config.js
  knip.jsonc
  package.json
  pnpm-lock.yaml
Due: prettier --write, eslint --fix, cspell lint --no-progress --show-suggestions --show-context --no-must-find-files --dot, pnpm dedupe && :

chore: knip
  knip.jsonc
Due: prettier --write

style: auto fix
  src/rules/no-mixed-types.ts
  src/rules/prefer-immutable-types.ts
  src/utils/type-guards.ts
Due: prettier --write, eslint --fix, cspell --config=.cspell.json

chore: apply needed changes
  README.md
  docs/rules/functional-parameters.md
  docs/rules/immutable-data.md
  docs/rules/no-class-inheritance.md
  docs/rules/no-classes.md
  docs/rules/no-conditional-statements.md
  docs/rules/no-expression-statements.md
  docs/rules/no-let.md
  docs/rules/no-loop-statements.md
  docs/rules/no-mixed-types.md
  docs/rules/no-promise-reject.md
  docs/rules/no-return-void.md
  docs/rules/no-this-expressions.md
  docs/rules/no-throw-statements.md
  docs/rules/no-try-statements.md
  docs/rules/prefer-immutable-types.md
  docs/rules/prefer-property-signatures.md
  docs/rules/prefer-readonly-type.md
  docs/rules/prefer-tacit.md
  docs/rules/readonly-type.md
  docs/rules/type-declaration-immutability.md
  eslint-doc-generator.config.ts
Due: prettier --write, eslint --fix, cspell --config=.cspell.json, cspell lint --no-progress --show-suggestions --show-context --no-must-find-files --dot, markdownlint-cli2 --fix

ci: update option name
  .github/workflows/test-js.yml
Due: prettier --write, eslint --fix, cspell lint --no-progress --show-suggestions --show-context --no-must-find-files --dot

build!: drop node 18
  .github/workflows/test-js.yml
  package.json
  pnpm-lock.yaml
Due: prettier --write, eslint --fix, cspell lint --no-progress --show-suggestions --show-context --no-must-find-files --dot, pnpm dedupe && :

docs: fixup badges
  README.md
  docs/rules/functional-parameters.md
  docs/rules/immutable-data.md
  docs/rules/no-class-inheritance.md
  docs/rules/no-classes.md
  docs/rules/no-conditional-statements.md
  docs/rules/no-expression-statements.md
  docs/rules/no-let.md
  docs/rules/no-loop-statements.md
  docs/rules/no-mixed-types.md
  docs/rules/no-return-void.md
  docs/rules/no-this-expressions.md
  docs/rules/no-throw-statements.md
  docs/rules/no-try-statements.md
  docs/rules/prefer-immutable-types.md
  docs/rules/prefer-property-signatures.md
  docs/rules/prefer-readonly-type.md
  docs/rules/prefer-tacit.md
  docs/rules/readonly-type.md
  docs/rules/type-declaration-immutability.md
  eslint-doc-generator.config.ts
Due: prettier --write, eslint --fix, cspell --config=.cspell.json, cspell lint --no-progress --show-suggestions --show-context --no-must-find-files --dot, markdownlint-cli2 --fix

fix: mark eslint v10 as supported
  package.json
Due: prettier --write, eslint --fix, cspell lint --no-progress --show-suggestions --show-context --no-must-find-files --dot

fix: mark eslint v10 as supported (#1031)
  package.json
Due: prettier --write, eslint --fix, cspell lint --no-progress --show-suggestions --show-context --no-must-find-files --dot

ci: remove now unused npm token
  .github/workflows/release.yml
Due: prettier --write, eslint --fix, cspell lint --no-progress --show-suggestions --show-context --no-must-find-files --dot

ci: allow knip to fail
  .github/workflows/lint-knip.yml
  .github/workflows/release.yml
Due: prettier --write, eslint --fix, cspell lint --no-progress --show-suggestions --show-context --no-must-find-files --dot

ci: use latest node version to run release
  .github/workflows/release.yml
Due: prettier --write, eslint --fix, cspell lint --no-progress --show-suggestions --show-context --no-must-find-files --dot

ci: remove semantic-release from dev deps
  knip.jsonc
  package.json
  pnpm-lock.yaml
Due: prettier --write, eslint --fix, cspell lint --no-progress --show-suggestions --show-context --no-must-find-files --dot, pnpm dedupe && :

ci: fix permissions
  .github/workflows/release.yml
Due: prettier --write, eslint --fix, cspell lint --no-progress --show-suggestions --show-context --no-must-find-files --dot

Notes added by 'git notes add'
  c46e223f43ac25eacce9f466b8eb03c7e1b12020
Due: none

chore(release): 9.0.3 [skip ci]
  CHANGELOG.md
Due: prettier --write, eslint --fix, cspell --config=.cspell.json, cspell lint --no-progress --show-suggestions --show-context --no-must-find-files --dot, markdownlint-cli2 --fix

chore: remove vitest config changes
  vitest.config.ts
Due: prettier --write, eslint --fix, cspell --config=.cspell.json

chore: remove vitest config changes (2)
  vitest.config.ts
Due: prettier --write, eslint --fix, cspell --config=.cspell.json

fix: type errors for consumers
  src/index.ts
  src/utils/rule.ts
Due: prettier --write, eslint --fix, cspell --config=.cspell.json

docs: update getting started example
  GETTING_STARTED.md
Due: prettier --write, eslint --fix, cspell --config=.cspell.json, cspell lint --no-progress --show-suggestions --show-context --no-must-find-files --dot, markdownlint-cli2 --fix

Notes added by 'git notes add'
  8c140d0e38b6f60bada9d9f4b68346dd4fa76fc8
Due: none

chore(release): 9.0.4 [skip ci]
  CHANGELOG.md
Due: prettier --write, eslint --fix, cspell --config=.cspell.json, cspell lint --no-progress --show-suggestions --show-context --no-must-find-files --dot, markdownlint-cli2 --fix

ci: set up publint
  .github/workflows/build.yml
  .releaserc.yml
  package.json
  pnpm-lock.yaml
Due: prettier --write, eslint --fix, cspell lint --no-progress --show-suggestions --show-context --no-must-find-files --dot, pnpm dedupe && :

ci: set up publint (#1033)
  .github/workflows/build.yml
  .releaserc.yml
  package.json
  pnpm-lock.yaml
Due: prettier --write, eslint --fix, cspell lint --no-progress --show-suggestions --show-context --no-must-find-files --dot, pnpm dedupe && :

build: maintenance update
  .github/renovate.json
  .vscode/launch.json
  cspell.config.yml
  knip.jsonc
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
  project-dictionary.txt
  rollup.config.ts
  src/tsconfig.json
  tsconfig.json
Due: prettier --write, eslint --fix, cspell --config=.cspell.json, cspell lint --no-progress --show-suggestions --show-context --no-must-find-files --dot, pnpm dedupe && :

ci: disable knip for now
  .github/workflows/lint-knip.yml
  .github/workflows/release.yml
Due: prettier --write, eslint --fix, cspell lint --no-progress --show-suggestions --show-context --no-must-find-files --dot

Path conditions:
  prettier --write: ((any of: ./**/*.{json,jsonc,yml}) or (any of: ./**/*.ts)) or (any of: ./**/*.md)
  eslint --fix: (any of: ./**/*.ts) or ((any of: *.{json,yml}) or (any of: *.md))
  cspell --config=.cspell.json: (any of: ./**/*.ts) or (any of: ./**/*.md)
  cspell lint --no-progress --show-suggestions --show-context --no-must-find-files --dot: (any of: *.{json,yml}) or (any of: *.md)
  markdownlint-cli2 --fix: any of: *.md
  pnpm dedupe && :: any of: pnpm-lock.yaml
