Repository eslint-functional/eslint-plugin-functional: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix, cspell --config=.cspell.json

.lintstagedrc:

{
  "./**/*.{json,jsonc,yml}": [
    "prettier --write"
  ],
  "./**/*.ts": [
    "prettier --write",
    "eslint --fix",
    "cspell --config=.cspell.json"
  ],
  "./**/*.md": [
    "prettier --write",
    "cspell --config=.cspell.json"
  ]
}

docs: twaek rule docs
  docs/rules/no-conditional-statement.md
  docs/rules/no-let.md
  docs/rules/no-throw-statement.md
  docs/rules/type-declaration-immutability.md
Due: prettier --write, cspell --config=.cspell.json

fixup: type-declaration-immutability recommended
  src/configs/recommended.ts
Due: prettier --write, eslint --fix, cspell --config=.cspell.json

fixup: functional-parameters recommended
  docs/rules/functional-parameters.md
  src/configs/recommended.ts
Due: prettier --write, eslint --fix, cspell --config=.cspell.json

refactor: use custom merge function to merge configs
  src/configs/external-typescript-recommended.ts
  src/configs/lite.ts
  src/configs/recommended.ts
  src/configs/strict.ts
  src/util/merge-configs.ts
Due: prettier --write, eslint --fix, cspell --config=.cspell.json

feat!(no-this-expression): remove from recommened and lite rulesets
  README.md
  src/configs/recommended.ts
Due: prettier --write, eslint --fix, cspell --config=.cspell.json

docs: fix rules gird for functional-parameters
  README.md
Due: prettier --write, cspell --config=.cspell.json

feat!(no-this-expression): remove `no-this-expression` from recommended and lite rulesets
  README.md
  src/configs/recommended.ts
Due: prettier --write, eslint --fix, cspell --config=.cspell.json

fixup(prefer-immutable-parameter-types): add option ignoreInferredTypes
  docs/rules/prefer-immutable-parameter-types.md
  src/configs/lite.ts
  src/configs/recommended.ts
  src/rules/prefer-immutable-parameter-types.ts
  tests/rules/prefer-immutable-parameter-types/ts/valid.ts
Due: prettier --write, eslint --fix, cspell --config=.cspell.json

test: rename typescript version specific tests
  tests/rules/prefer-tacit/index.test.ts
  tests/rules/prefer-tacit/ts-at-least-4.7/index.ts
  tests/rules/prefer-tacit/ts-at-least-4.7/invalid.ts
  tests/rules/prefer-tacit/ts-at-least-4.7/valid.ts
  tests/rules/prefer-tacit/ts-less-than-4.7/index.ts
  tests/rules/prefer-tacit/ts-less-than-4.7/invalid.ts
  tests/rules/prefer-tacit/ts-less-than-4.7/valid.ts
Due: prettier --write, eslint --fix, cspell --config=.cspell.json

fix(prefer-tacit): handling of member expressions and be more strict with optional parameters
  src/rules/prefer-tacit.ts
  tests/rules/prefer-tacit/es6/invalid.ts
  tests/rules/prefer-tacit/es6/valid.ts
  tests/rules/prefer-tacit/ts/invalid.ts
  tests/rules/prefer-tacit/ts/valid.ts
Due: prettier --write, eslint --fix, cspell --config=.cspell.json

chore(release): 4.4.1 [skip ci]
  CHANGELOG.md
Due: prettier --write, cspell --config=.cspell.json

Notes added by 'git notes add'
  47542c81c336b36ab44f00f23232f932da344d73
Due: none

build!: bump minimum supported version of node to 16.10
  .github/workflows/ci.yml
  .nvmrc
  package.json
  yarn.lock
Due: prettier --write

feat(type-declaration-immutability): create rule
  package.json
  src/configs/all.ts
  src/configs/no-mutations.ts
  src/rules/index.ts
  src/rules/type-declaration-immutability.ts
  src/settings/immutability.ts
  src/settings/index.ts
  src/util/node-types.ts
  src/util/rule.ts
  src/util/typeguard.ts
  tests/helpers/util.ts
  tests/rules/type-declaration-immutability/index.test.ts
  tests/rules/type-declaration-immutability/ts/index.ts
  tests/rules/type-declaration-immutability/ts/invalid.ts
  tests/rules/type-declaration-immutability/ts/valid.ts
  tests/rules/work.test.ts
  tsconfig.base.json
  yarn.lock
Due: prettier --write, eslint --fix, cspell --config=.cspell.json

build!: bump minimum supported version of TypeScript to 4.0.2
  package.json
  yarn.lock
Due: prettier --write

feat(prefer-immutable-parameter-types): create rule
  src/configs/all.ts
  src/configs/no-mutations.ts
  src/rules/index.ts
  src/rules/prefer-immutable-parameter-types.ts
  tests/rules/prefer-immutable-parameter-types/index.test.ts
  tests/rules/prefer-immutable-parameter-types/ts/index.ts
  tests/rules/prefer-immutable-parameter-types/ts/invalid.ts
  tests/rules/prefer-immutable-parameter-types/ts/valid.ts
Due: prettier --write, eslint --fix, cspell --config=.cspell.json

docs: document new rules
  .eslintrc.json
  README.md
  docs/rules/prefer-immutable-parameter-types.md
  docs/rules/settings/immutability.md
  docs/rules/type-declaration-immutability.md
Due: prettier --write, cspell --config=.cspell.json

feat(prefer-readonly-type): deprecated this rule
  README.md
  docs/rules/prefer-readonly-type.md
  src/configs/all.ts
  src/configs/no-mutations.ts
  src/rules/prefer-readonly-type.ts
Due: prettier --write, eslint --fix, cspell --config=.cspell.json

feat(no-method-signature)!: rename to `prefer-property-signatures` & move it to `stylistic` ruleset
  README.md
  docs/rules/no-method-signature.md
  src/configs/all.ts
  src/configs/no-mutations.ts
  src/configs/stylistic.ts
  src/rules/index.ts
  src/rules/prefer-property-signatures.ts
  tests/rules/prefer-property-signatures/index.test.ts
  tests/rules/prefer-property-signatures/ts/index.ts
  tests/rules/prefer-property-signatures/ts/invalid.ts
  tests/rules/prefer-property-signatures/ts/valid.ts
Due: prettier --write, eslint --fix, cspell --config=.cspell.json

chore: update default rule to import for the work test file
  tests/rules/work.test.ts
Due: prettier --write, eslint --fix, cspell --config=.cspell.json

style: disable prefer-readonly-parameter-types
  .eslintrc.json
  src/rules/prefer-tacit.ts
  src/util/typeguard.ts
Due: prettier --write, eslint --fix, cspell --config=.cspell.json

feat!: remove `@typescript-eslint/prefer-readonly-parameter-types` from `external-recommended`
  README.md
  src/configs/external-recommended.ts
Due: prettier --write, eslint --fix, cspell --config=.cspell.json

feat!: split `external-recommended` rulesets into vanilla and typescript variants
  src/configs/external-recommended.ts
  src/configs/external-typescript-recommended.ts
  src/configs/external-vanilla-recommended.ts
  src/index.ts
Due: prettier --write, eslint --fix, cspell --config=.cspell.json

refactor: rename ruleset files
  src/configs/lite.ts
  src/configs/recommended.ts
  src/index.ts
  tests/configs.test.ts
Due: prettier --write, eslint --fix, cspell --config=.cspell.json

feat!: update ruleset configurations
  README.md
  src/configs/all.ts
  src/configs/currying.ts
  src/configs/deprecated.ts
  src/configs/lite.ts
  src/configs/no-exceptions.ts
  src/configs/no-mutations.ts
  src/configs/no-object-orientation.ts
  src/configs/no-statements.ts
  src/configs/off.ts
  src/configs/recommended.ts
  src/configs/stylistic.ts
  tests/configs.test.ts
  tests/index.test.ts
Due: prettier --write, eslint --fix, cspell --config=.cspell.json

feat!: add new strict ruleset and reduce strictness of the recommended ruleset
  src/configs/recommended.ts
  src/configs/strict.ts
  src/index.ts
  tests/configs.test.ts
Due: prettier --write, eslint --fix, cspell --config=.cspell.json

fixup: update ruleset configurations
  src/configs/lite.ts
  src/configs/recommended.ts
  src/rules/prefer-immutable-parameter-types.ts
Due: prettier --write, eslint --fix, cspell --config=.cspell.json

style: update linting
  .eslintrc.json
  .vscode/settings.json
  package.json
  scripts/compile-tests.mts
  scripts/tsconfig.json
  src/common/ignore-options.ts
  src/rules/functional-parameters.ts
  src/rules/no-conditional-statement.ts
  src/util/rule.ts
  src/util/typeguard.ts
  tests/common/ignore-options.test.ts
  tests/helpers/configs.ts
  tests/index.test.ts
  tests/rules/index.test.ts
  tsconfig.base.json
  typings/es.d.ts
  yarn.lock
Due: prettier --write, eslint --fix, cspell --config=.cspell.json

feat!: rename ruleset `no-object-orientation` to `no-other-paradigms`
  src/configs/no-other-paradigms.ts
  src/configs/strict.ts
  src/index.ts
  tests/configs.test.ts
Due: prettier --write, eslint --fix, cspell --config=.cspell.json

chore: remove "pre" scripts
  package.json
Due: prettier --write

docs: breakup and update readme
  .cspell.json
  CONTRIBUTING.md
  GETTING_STARTED.md
  README.md
Due: prettier --write, cspell --config=.cspell.json

docs: update rule docs
  docs/rules/functional-parameters.md
  docs/rules/immutable-data.md
  docs/rules/no-class.md
  docs/rules/no-conditional-statement.md
  docs/rules/no-expression-statement.md
  docs/rules/no-let.md
  docs/rules/no-loop-statement.md
  docs/rules/no-method-signature.md
  docs/rules/no-mixed-type.md
  docs/rules/no-promise-reject.md
  docs/rules/no-return-void.md
  docs/rules/no-this-expression.md
  docs/rules/no-throw-statement.md
  docs/rules/no-try-statement.md
  docs/rules/prefer-immutable-parameter-types.md
  docs/rules/prefer-readonly-type.md
  docs/rules/prefer-tacit.md
  docs/rules/type-declaration-immutability.md
Due: prettier --write, cspell --config=.cspell.json

refactor: remove useless override
  src/configs/lite.ts
Due: prettier --write, eslint --fix, cspell --config=.cspell.json

fix!(prefer-property-signatures): rename `ignoreIfReadonly` to `ignoreIfReadonlyWrapped`
  docs/rules/prefer-property-signatures.md
  src/rules/prefer-property-signatures.ts
Due: prettier --write, eslint --fix, cspell --config=.cspell.json

fixup(type-declaration-immutability): make rule more strict by default, add overrides to rulesets
  docs/rules/type-declaration-immutability.md
  src/configs/recommended.ts
  src/rules/type-declaration-immutability.ts
Due: prettier --write, eslint --fix, cspell --config=.cspell.json

chore: update is-immutable-type to 1.0
  package.json
  yarn.lock
Due: prettier --write

fixup: tests
  src/rules/type-declaration-immutability.ts
  tests/rules/prefer-property-signatures/ts/invalid.ts
  tests/rules/prefer-property-signatures/ts/valid.ts
  tests/rules/type-declaration-immutability/ts/invalid.ts
  tests/rules/type-declaration-immutability/ts/valid.ts
Due: prettier --write, eslint --fix, cspell --config=.cspell.json

docs: tweak common options docs
  docs/rules/options/allow-local-mutation.md
  docs/rules/options/ignore-pattern.md
Due: prettier --write, cspell --config=.cspell.json
