Repository eslint-functional/eslint-plugin-functional: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix, cspell --config=.cspell.json

feat(no-method-signature)!: rename to `prefer-property-signatures` & move it to `stylistic` ruleset
  README.md
  docs/rules/no-method-signature.md
  src/configs/all.ts
  src/configs/no-mutations.ts
  src/configs/stylistic.ts
  src/rules/index.ts
  src/rules/prefer-property-signatures.ts
  tests/rules/prefer-property-signatures/index.test.ts
  tests/rules/prefer-property-signatures/ts/index.ts
  tests/rules/prefer-property-signatures/ts/invalid.ts
  tests/rules/prefer-property-signatures/ts/valid.ts
Due: prettier --write, eslint --fix, cspell --config=.cspell.json

style: disable prefer-readonly-parameter-types
  .eslintrc.json
  src/rules/prefer-tacit.ts
  src/util/typeguard.ts
Due: prettier --write, eslint --fix, cspell --config=.cspell.json

feat!: remove `@typescript-eslint/prefer-readonly-parameter-types` from `external-recommended`
  README.md
  src/configs/external-recommended.ts
Due: prettier --write, eslint --fix, cspell --config=.cspell.json

feat!: split `external-recommended` rulesets into vanilla and typescript variants
  src/configs/external-recommended.ts
  src/configs/external-typescript-recommended.ts
  src/configs/external-vanilla-recommended.ts
  src/index.ts
Due: prettier --write, eslint --fix, cspell --config=.cspell.json

refactor: rename ruleset files
  src/configs/lite.ts
  src/configs/recommended.ts
  src/index.ts
  tests/configs.test.ts
Due: prettier --write, eslint --fix, cspell --config=.cspell.json

feat!: update ruleset configurations
  README.md
  src/configs/all.ts
  src/configs/currying.ts
  src/configs/deprecated.ts
  src/configs/lite.ts
  src/configs/no-exceptions.ts
  src/configs/no-mutations.ts
  src/configs/no-object-orientation.ts
  src/configs/no-statements.ts
  src/configs/off.ts
  src/configs/recommended.ts
  src/configs/stylistic.ts
  tests/configs.test.ts
  tests/index.test.ts
Due: prettier --write, eslint --fix, cspell --config=.cspell.json

feat!: add new strict ruleset and reduce strictness of the recommended ruleset
  src/configs/recommended.ts
  src/configs/strict.ts
  src/index.ts
  tests/configs.test.ts
Due: prettier --write, eslint --fix, cspell --config=.cspell.json

style: update linting
  .eslintrc.json
  .vscode/settings.json
  package.json
  scripts/compile-tests.mts
  scripts/tsconfig.json
  src/common/ignore-options.ts
  src/rules/functional-parameters.ts
  src/rules/no-conditional-statement.ts
  src/util/rule.ts
  src/util/typeguard.ts
  tests/common/ignore-options.test.ts
  tests/helpers/configs.ts
  tests/index.test.ts
  tests/rules/index.test.ts
  tsconfig.base.json
  typings/es.d.ts
  yarn.lock
Due: prettier --write, eslint --fix, cspell --config=.cspell.json

fixup: update ruleset configurations
  src/configs/lite.ts
  src/configs/recommended.ts
  src/rules/prefer-immutable-parameter-types.ts
Due: prettier --write, eslint --fix, cspell --config=.cspell.json

chore: remove "pre" scripts
  package.json
Due: prettier --write

docs: breakup and update readme
  .cspell.json
  CONTRIBUTING.md
  GETTING_STARTED.md
  README.md
Due: prettier --write, cspell --config=.cspell.json

feat!: rename ruleset `no-object-orientation` to `no-other-paradigms`
  src/configs/no-other-paradigms.ts
  src/configs/strict.ts
  src/index.ts
  tests/configs.test.ts
Due: prettier --write, eslint --fix, cspell --config=.cspell.json

docs: update rule docs
  docs/rules/functional-parameters.md
  docs/rules/immutable-data.md
  docs/rules/no-class.md
  docs/rules/no-conditional-statement.md
  docs/rules/no-expression-statement.md
  docs/rules/no-let.md
  docs/rules/no-loop-statement.md
  docs/rules/no-method-signature.md
  docs/rules/no-mixed-type.md
  docs/rules/no-promise-reject.md
  docs/rules/no-return-void.md
  docs/rules/no-this-expression.md
  docs/rules/no-throw-statement.md
  docs/rules/no-try-statement.md
  docs/rules/prefer-immutable-parameter-types.md
  docs/rules/prefer-readonly-type.md
  docs/rules/prefer-tacit.md
  docs/rules/type-declaration-immutability.md
Due: prettier --write, cspell --config=.cspell.json

refactor: remove useless override
  src/configs/lite.ts
Due: prettier --write, eslint --fix, cspell --config=.cspell.json

fixup(type-declaration-immutability): make rule more strict by default, add overrides to rulesets
  docs/rules/type-declaration-immutability.md
  src/configs/recommended.ts
  src/rules/type-declaration-immutability.ts
Due: prettier --write, eslint --fix, cspell --config=.cspell.json

chore: update is-immutable-type to 1.0
  package.json
  yarn.lock
Due: prettier --write

feat(prefer-property-signatures)!: rename `ignoreIfReadonly` to `ignoreIfReadonlyWrapped`
  docs/rules/prefer-property-signatures.md
  src/rules/prefer-property-signatures.ts
Due: prettier --write, eslint --fix, cspell --config=.cspell.json

fixup: tests
  src/rules/type-declaration-immutability.ts
  tests/rules/prefer-property-signatures/ts/invalid.ts
  tests/rules/prefer-property-signatures/ts/valid.ts
  tests/rules/type-declaration-immutability/ts/invalid.ts
  tests/rules/type-declaration-immutability/ts/valid.ts
Due: prettier --write, eslint --fix, cspell --config=.cspell.json

docs: tweak common options docs
  docs/rules/options/allow-local-mutation.md
  docs/rules/options/ignore-pattern.md
Due: prettier --write, cspell --config=.cspell.json

feat(functional-parameters): add option to ignore lambda function expressions
  docs/rules/functional-parameters.md
  src/configs/recommended.ts
  src/rules/functional-parameters.ts
  src/util/tree.ts
  tests/rules/functional-parameters/es3/invalid.ts
  tests/rules/functional-parameters/es3/valid.ts
  tests/rules/functional-parameters/es6/invalid.ts
  tests/rules/functional-parameters/es6/valid.ts
Due: prettier --write, eslint --fix, cspell --config=.cspell.json

docs: twaek rule docs
  docs/rules/no-conditional-statement.md
  docs/rules/no-let.md
  docs/rules/no-throw-statement.md
  docs/rules/type-declaration-immutability.md
Due: prettier --write, cspell --config=.cspell.json

fixup: functional-parameters recommended
  docs/rules/functional-parameters.md
  src/configs/recommended.ts
Due: prettier --write, eslint --fix, cspell --config=.cspell.json

fixup: type-declaration-immutability recommended
  src/configs/recommended.ts
Due: prettier --write, eslint --fix, cspell --config=.cspell.json

refactor: use custom merge function to merge configs
  src/configs/external-typescript-recommended.ts
  src/configs/lite.ts
  src/configs/recommended.ts
  src/configs/strict.ts
  src/util/merge-configs.ts
Due: prettier --write, eslint --fix, cspell --config=.cspell.json

feat(no-this-expression)!: remove `no-this-expression` from recommended and lite rulesets
  README.md
  src/configs/recommended.ts
Due: prettier --write, eslint --fix, cspell --config=.cspell.json

docs: fix rules gird for functional-parameters
  README.md
Due: prettier --write, cspell --config=.cspell.json

fixup(prefer-immutable-parameter-types): add option ignoreInferredTypes
  docs/rules/prefer-immutable-parameter-types.md
  src/configs/lite.ts
  src/configs/recommended.ts
  src/rules/prefer-immutable-parameter-types.ts
  tests/rules/prefer-immutable-parameter-types/ts/valid.ts
Due: prettier --write, eslint --fix, cspell --config=.cspell.json

docs: remove *s
  docs/rules/no-conditional-statement.md
Due: prettier --write, cspell --config=.cspell.json

fixup(prefer-immutable-types): change rule name and add a lot more options
  docs/rules/prefer-immutable-types.md
  src/configs/all.ts
  src/configs/lite.ts
  src/configs/no-mutations.ts
  src/configs/recommended.ts
  src/rules/index.ts
  src/rules/prefer-immutable-parameter-types.ts
  src/rules/prefer-immutable-types.ts
  src/rules/prefer-readonly-type.ts
  src/util/rule.ts
  src/util/typeguard.ts
  tests/rules/prefer-immutable-parameter-types/ts/invalid.ts
  tests/rules/prefer-immutable-types/index.test.ts
  tests/rules/prefer-immutable-types/ts/index.ts
  tests/rules/prefer-immutable-types/ts/parameters/index.ts
  tests/rules/prefer-immutable-types/ts/parameters/invalid.ts
  tests/rules/prefer-immutable-types/ts/parameters/valid.ts
  tests/rules/prefer-immutable-types/ts/return-types/index.ts
  tests/rules/prefer-immutable-types/ts/return-types/invalid.ts
  tests/rules/prefer-immutable-types/ts/return-types/valid.ts
  tests/rules/prefer-immutable-types/ts/variables/index.ts
  tests/rules/prefer-immutable-types/ts/variables/invalid.ts
  tests/rules/prefer-immutable-types/ts/variables/valid.ts
  tests/rules/work.test.ts
Due: prettier --write, eslint --fix, cspell --config=.cspell.json

feat(no-conditional-statements)!: rename rule from `no-conditional-statement`
  CHANGELOG.md
  README.md
  docs/rules/no-conditional-statement.md
  docs/user-guide/migrating-from-tslint.md
  src/configs/all.ts
  src/configs/lite.ts
  src/configs/no-statements.ts
  src/configs/recommended.ts
  src/rules/index.ts
  src/rules/no-conditional-statements.ts
  tests/.eslintrc.json
  tests/rules/no-conditional-statement/index.test.ts
Due: prettier --write, eslint --fix, cspell --config=.cspell.json

feat(no-classes)!: rename rule from `no-class`
  README.md
  docs/rules/no-class.md
  docs/rules/no-this-expression.md
  docs/user-guide/migrating-from-tslint.md
  src/configs/all.ts
  src/configs/no-other-paradigms.ts
  src/rules/index.ts
  src/rules/no-classes.ts
  tests/rules/no-class.test/index.test.ts
Due: prettier --write, eslint --fix, cspell --config=.cspell.json

feat(no-expression-statements)!: rename rule from `no-expression-statement`
  .eslintrc.json
  CHANGELOG.md
  README.md
  docs/rules/no-expression-statement.md
  docs/user-guide/migrating-from-tslint.md
  src/configs/all.ts
  src/configs/lite.ts
  src/configs/no-statements.ts
  src/rules/index.ts
  src/rules/no-expression-statements.ts
  src/settings/immutability.ts
  src/util/rule.ts
  tests/.eslintrc.json
  tests/rules/no-expression-statement/index.test.ts
Due: prettier --write, eslint --fix, cspell --config=.cspell.json

feat(no-loop-statements)!: rename rule from `no-loop-statement`
  README.md
  cz-adapter/engine.ts
  docs/rules/no-loop-statement.md
  docs/user-guide/migrating-from-tslint.md
  src/configs/all.ts
  src/configs/no-statements.ts
  src/rules/index.ts
  src/rules/no-loop-statements.ts
  src/util/rule.ts
  tests/.eslintrc.json
  tests/rules/no-loop-statement/index.test.ts
Due: prettier --write, eslint --fix, cspell --config=.cspell.json

feat(no-this-expressions)!: rename rule from `no-this-expression`
  README.md
  docs/rules/no-class.md
  docs/rules/no-this-expression.md
  docs/user-guide/migrating-from-tslint.md
  src/configs/all.ts
  src/configs/no-other-paradigms.ts
  src/configs/recommended.ts
  src/rules/index.ts
  src/rules/no-this-expressions.ts
  tests/rules/no-this-expression/index.test.ts
Due: prettier --write, eslint --fix, cspell --config=.cspell.json

feat(no-mixed-types)!: rename rule from `no-mixed-type`
  CHANGELOG.md
  README.md
  docs/rules/no-mixed-type.md
  docs/user-guide/migrating-from-tslint.md
  src/configs/all.ts
  src/configs/no-other-paradigms.ts
  src/rules/index.ts
  src/rules/no-mixed-types.ts
  tests/rules/no-mixed-type/index.test.ts
Due: prettier --write, eslint --fix, cspell --config=.cspell.json

feat(no-try-statements)!: rename rule from `no-try-statement`
  README.md
  docs/rules/no-try-statement.md
  docs/user-guide/migrating-from-tslint.md
  src/configs/all.ts
  src/configs/no-exceptions.ts
  src/configs/recommended.ts
  src/rules/index.ts
  src/rules/no-try-statements.ts
  src/util/conditional-imports/.eslintrc.json
  tests/rules/no-try-statement/index.test.ts
Due: prettier --write, eslint --fix, cspell --config=.cspell.json

feat(no-throw-statements)!: rename rule from `no-throw-statement`
  CHANGELOG.md
  README.md
  docs/rules/no-throw-statement.md
  docs/rules/no-try-statement.md
  docs/user-guide/migrating-from-tslint.md
  src/configs/all.ts
  src/configs/no-exceptions.ts
  src/configs/recommended.ts
  src/rules/index.ts
  src/rules/no-throw-statements.ts
  tests/rules/no-throw-statement/index.test.ts
Due: prettier --write, eslint --fix, cspell --config=.cspell.json

fixup(prefer-immutable-types): fix bugs
  src/rules/prefer-immutable-types.ts
  src/settings/immutability.ts
Due: prettier --write, eslint --fix, cspell --config=.cspell.json

chore: put breaking marker in the right place
  cz-adapter/engine.ts
Due: prettier --write, eslint --fix, cspell --config=.cspell.json

feat!: rename many of the options
  docs/rules/immutable-data.md
  docs/rules/no-let.md
  docs/rules/no-return-void.md
  docs/rules/prefer-immutable-types.md
  src/common/ignore-options.ts
  src/configs/lite.ts
  src/configs/recommended.ts
  src/rules/functional-parameters.ts
  src/rules/immutable-data.ts
  src/rules/no-expression-statements.ts
  src/rules/no-let.ts
  src/rules/no-mixed-types.ts
  src/rules/no-return-void.ts
  src/rules/prefer-immutable-types.ts
  src/rules/prefer-readonly-type.ts
  src/rules/prefer-tacit.ts
  src/rules/type-declaration-immutability.ts
  tests/common/ignore-options.test.ts
  tests/rules/immutable-data/es6/object/invalid.ts
  tests/rules/immutable-data/es6/object/valid.ts
  tests/rules/no-let/es6/invalid.ts
  tests/rules/no-let/es6/valid.ts
  tests/rules/no-return-void/ts/invalid.ts
  tests/rules/no-return-void/ts/valid.ts
  tests/rules/prefer-immutable-types/ts/variables/valid.ts
  tests/rules/work.test.ts
Due: prettier --write, eslint --fix, cspell --config=.cspell.json

Path conditions:
  prettier --write: ((any of: ./**/*.{json,jsonc,yml}) or (any of: ./**/*.ts)) or (any of: ./**/*.md)
  eslint --fix: any of: ./**/*.ts
  cspell --config=.cspell.json: (any of: ./**/*.ts) or (any of: ./**/*.md)
