Repository eslint-functional/eslint-plugin-functional: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix, cspell --config=.cspell.json, prettier --ignore-unknown --write, cspell, markdownlint --config=.markdownlint.json --ignore-path=.markdownlintignore

.lintstagedrc:

{
  "./**/*.{json,jsonc,yml}": [
    "prettier --write"
  ],
  "./**/*.ts": [
    "prettier --write",
    "eslint --fix",
    "cspell --config=.cspell.json"
  ],
  "./**/*.md": [
    "prettier --write",
    "cspell --config=.cspell.json"
  ]
}

.lintstagedrc.yml:

"*.{json,yml}":
  - prettier --ignore-unknown --write

"*.ts":
  - prettier --ignore-unknown --write
  - eslint --fix
  - cspell

"*.md":
  - prettier --ignore-unknown --write
  - markdownlint --config=.markdownlint.json --ignore-path=.markdownlintignore
  - cspell

chore: update node args
  ava.config.mjs
  package.json
  pnpm-lock.yaml
Due: prettier --write, prettier --ignore-unknown --write

ci: rework compiling tests
  .eslintrc.json
  .gitignore
  .prettierignore
  ava.config.mjs
  knip.jsonc
  package.json
  pnpm-lock.yaml
  rollup.config.tests.ts
  scripts/.eslintrc.json
  scripts/compile-tests.mts
  tests/helpers/configs.ts
Due: prettier --write, eslint --fix, cspell --config=.cspell.json, prettier --ignore-unknown --write, cspell

build!: increase minimum supported TypeScript version to 4.3.5
  .github/workflows/test-js.yml
  package.json
Due: prettier --write, prettier --ignore-unknown --write

chore(release): 6.0.0-next.1 [skip ci]
  CHANGELOG.md
Due: prettier --write, cspell --config=.cspell.json, prettier --ignore-unknown --write, cspell, markdownlint --config=.markdownlint.json --ignore-path=.markdownlintignore

Notes added by 'git notes add'
  a56d30311ecbff475110fede716a08c65c4dc95b
Due: none

chore: update eslint config
  .eslintrc.json
Due: prettier --write, prettier --ignore-unknown --write

feat(functional-parameters): add option to ignore getters and setters
  docs/rules/functional-parameters.md
  src/configs/recommended.ts
  src/rules/functional-parameters.ts
  src/utils/tree.ts
  tests/rules/functional-parameters/es2015/valid.ts
Due: prettier --write, eslint --fix, cspell --config=.cspell.json, prettier --ignore-unknown --write, cspell, markdownlint --config=.markdownlint.json --ignore-path=.markdownlintignore

wip
  src/rules/no-expression-statements.ts
  tests/rules/no-expression-statement/ts/valid.ts
  tests/rules/work.test.ts
Due: prettier --write, eslint --fix, cspell --config=.cspell.json, prettier --ignore-unknown --write, cspell

chore(release): 6.0.0-next.2 [skip ci]
  CHANGELOG.md
Due: prettier --write, cspell --config=.cspell.json, prettier --ignore-unknown --write, cspell, markdownlint --config=.markdownlint.json --ignore-path=.markdownlintignore

Notes added by 'git notes add'
  b42c6ab92068eed8b9cc32b6d21c210ebdb72aa1
Due: none

fix: add sanity checks to type immutablity override settings
  src/settings/immutability.ts
Due: prettier --write, eslint --fix, cspell --config=.cspell.json, prettier --ignore-unknown --write, cspell

chore: update dep
  package.json
  pnpm-lock.yaml
Due: prettier --write, prettier --ignore-unknown --write

chore(release): 6.0.0-next.3 [skip ci]
  CHANGELOG.md
Due: prettier --write, cspell --config=.cspell.json, prettier --ignore-unknown --write, cspell, markdownlint --config=.markdownlint.json --ignore-path=.markdownlintignore

Notes added by 'git notes add'
  3fa69dc9ca322fab310814776b76990a983b0c51
Due: none

ci: use node 18 by default
  .github/actions/prepare/action.yml
Due: prettier --write, prettier --ignore-unknown --write

docs: add tidelift info
  README.md
Due: prettier --write, cspell --config=.cspell.json, prettier --ignore-unknown --write, cspell, markdownlint --config=.markdownlint.json --ignore-path=.markdownlintignore

docs: update getting started guide
  GETTING_STARTED.md
Due: prettier --write, cspell --config=.cspell.json, prettier --ignore-unknown --write, cspell, markdownlint --config=.markdownlint.json --ignore-path=.markdownlintignore

docs(prefer-tacit): no longer takes ignorePattern. details also updated
  docs/rules/prefer-tacit.md
  src/rules/prefer-tacit.ts
Due: prettier --write, eslint --fix, cspell --config=.cspell.json, prettier --ignore-unknown --write, cspell, markdownlint --config=.markdownlint.json --ignore-path=.markdownlintignore

docs: move ignorePattern details into each rule
  docs/rules/functional-parameters.md
  docs/rules/immutable-data.md
  docs/rules/no-expression-statements.md
  docs/rules/no-let.md
  docs/rules/options/ignore-pattern.md
  docs/rules/prefer-readonly-type.md
  docs/rules/type-declaration-immutability.md
Due: prettier --write, cspell --config=.cspell.json, prettier --ignore-unknown --write, cspell, markdownlint --config=.markdownlint.json --ignore-path=.markdownlintignore

docs: remove allowLocalMutation standalone docs
  docs/rules/no-let.md
  docs/rules/options/allow-local-mutation.md
  docs/rules/prefer-immutable-types.md
  docs/rules/prefer-readonly-type.md
Due: prettier --write, cspell --config=.cspell.json, prettier --ignore-unknown --write, cspell, markdownlint --config=.markdownlint.json --ignore-path=.markdownlintignore

docs: update immutability setting
  docs/rules/settings/immutability.md
Due: prettier --write, cspell --config=.cspell.json, prettier --ignore-unknown --write, cspell, markdownlint --config=.markdownlint.json --ignore-path=.markdownlintignore

chore: deps update
  package.json
  pnpm-lock.yaml
Due: prettier --write, prettier --ignore-unknown --write

feat(no-expression-statements): add option to ignore self returning functions
  docs/rules/no-expression-statements.md
  src/rules/no-expression-statements.ts
  tests/rules/no-expression-statement/ts/valid.ts
Due: prettier --write, eslint --fix, cspell --config=.cspell.json, prettier --ignore-unknown --write, cspell, markdownlint --config=.markdownlint.json --ignore-path=.markdownlintignore

chore(release): 6.0.0-next.4 [skip ci]
  CHANGELOG.md
Due: prettier --write, cspell --config=.cspell.json, prettier --ignore-unknown --write, cspell, markdownlint --config=.markdownlint.json --ignore-path=.markdownlintignore

Notes added by 'git notes add'
  e2e9a01076c30d6af783944dbbffa18e6ebbff7c
Due: none

fix!: replace `ignorePattern` option with `ignoreIdentifierPattern` and `ignoreCodePattern`
  docs/rules/functional-parameters.md
  docs/rules/immutable-data.md
  docs/rules/no-expression-statements.md
  docs/rules/no-let.md
  docs/rules/type-declaration-immutability.md
  package.json
  pnpm-lock.yaml
  src/options/ignore.ts
  src/rules/functional-parameters.ts
  src/rules/immutable-data.ts
  src/rules/no-expression-statements.ts
  src/rules/no-let.ts
  src/rules/prefer-readonly-type.ts
  src/rules/type-declaration-immutability.ts
  src/utils/misc.ts
  tests/common/ignore-options.test.ts
  tests/rules/functional-parameters/es2015/invalid.ts
  tests/rules/functional-parameters/es2015/valid.ts
  tests/rules/functional-parameters/es3/valid.ts
  tests/rules/immutable-data/ts/array/valid.ts
  tests/rules/immutable-data/ts/object/valid.ts
  tests/rules/no-expression-statement/ts/invalid.ts
  tests/rules/no-expression-statement/ts/valid.ts
  tests/rules/no-let/es2015/invalid.ts
  tests/rules/no-let/es2015/valid.ts
  tests/rules/type-declaration-immutability/ts/valid.ts
Due: prettier --write, eslint --fix, cspell --config=.cspell.json, prettier --ignore-unknown --write, cspell, markdownlint --config=.markdownlint.json --ignore-path=.markdownlintignore

chore(release): 6.0.0-next.5 [skip ci]
  CHANGELOG.md
Due: prettier --write, cspell --config=.cspell.json, prettier --ignore-unknown --write, cspell, markdownlint --config=.markdownlint.json --ignore-path=.markdownlintignore

Notes added by 'git notes add'
  180e19134b9f90f530a481864accd018261d9799
Due: none

feat(immutable-data): add new option `ignoreNonConstDeclarations`
  docs/rules/immutable-data.md
  src/rules/immutable-data.ts
  src/utils/rule.ts
  tests/rules/immutable-data/ts/array/invalid.ts
  tests/rules/immutable-data/ts/array/valid.ts
  tests/rules/immutable-data/ts/object/invalid.ts
  tests/rules/immutable-data/ts/object/valid.ts
Due: prettier --write, eslint --fix, cspell --config=.cspell.json, prettier --ignore-unknown --write, cspell, markdownlint --config=.markdownlint.json --ignore-path=.markdownlintignore

chore(release): 6.0.0-next.6 [skip ci]
  CHANGELOG.md
Due: prettier --write, cspell --config=.cspell.json, prettier --ignore-unknown --write, cspell, markdownlint --config=.markdownlint.json --ignore-path=.markdownlintignore

Notes added by 'git notes add'
  5b1acb982e1b56b03ff2eb855a36221ffca3af38
Due: none

fix(immutable-data): rework logic, it should work now
  docs/rules/immutable-data.md
  src/rules/immutable-data.ts
  src/utils/tree.ts
  tests/rules/immutable-data/ts/array/invalid.ts
  tests/rules/immutable-data/ts/array/valid.ts
  tests/rules/immutable-data/ts/object/invalid.ts
  tests/rules/immutable-data/ts/object/valid.ts
Due: prettier --write, eslint --fix, cspell --config=.cspell.json, prettier --ignore-unknown --write, cspell, markdownlint --config=.markdownlint.json --ignore-path=.markdownlintignore

chore(release): 6.0.0-next.7 [skip ci]
  CHANGELOG.md
Due: prettier --write, cspell --config=.cspell.json, prettier --ignore-unknown --write, cspell, markdownlint --config=.markdownlint.json --ignore-path=.markdownlintignore

Notes added by 'git notes add'
  fef136d5fdbb76316de270087a28954115502b1b
Due: none

build: replace ava with vitest
  .eslintrc.json
  .gitignore
  .nycrc
  .prettierignore
  .vscode/launch.json
  .vscode/settings.json
  ava.config.mjs
  knip.jsonc
  package.json
  pnpm-lock.yaml
  rollup.config.tests.ts
  src/utils/rule.ts
  tests/.eslintrc.json
  tests/common/ignore-options.test.ts
  tests/configs.test.ts
  tests/helpers/AvaRuleTester.ts
  tests/helpers/RuleTester.ts
  tests/helpers/configs.ts
  tests/helpers/testers.ts
  tests/helpers/util.ts
  tests/index.test.ts
  tests/mergers/configs.test.ts
  tests/rules/index.test.ts
  tests/rules/no-class/es2015/valid.ts
  tests/rules/no-loop-statement/es3/valid.ts
  tests/rules/no-loop-statement/index.test.ts
  tests/rules/no-throw-statement/es3/valid.ts
  tests/rules/work.test.ts
  tsconfig.json
  vite.config.ts
Due: prettier --write, eslint --fix, cspell --config=.cspell.json, prettier --ignore-unknown --write, cspell

refactor: remove nolonger used code for supporting progressively enhance rules
  src/utils/rule.ts
Due: prettier --write, eslint --fix, cspell --config=.cspell.json, prettier --ignore-unknown --write, cspell

style: remove unsed import
  src/utils/misc.ts
Due: prettier --write, eslint --fix, cspell --config=.cspell.json, prettier --ignore-unknown --write, cspell

chore: don't typecheck when running the cz adapter
  cz-adapter/tsconfig.json
Due: prettier --write, prettier --ignore-unknown --write
