Repository eslint-functional/eslint-plugin-functional: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix, cspell --config=.cspell.json

.lintstagedrc:

{
  "./**/*.{json,jsonc,yml}": [
    "prettier --write"
  ],
  "./**/*.ts": [
    "prettier --write",
    "eslint --fix",
    "cspell --config=.cspell.json"
  ],
  "./**/*.md": [
    "prettier --write",
    "cspell --config=.cspell.json"
  ]
}

chore: update is-immutable-type to 1.1.0
  package.json
  src/rules/prefer-immutable-types.ts
  src/rules/type-declaration-immutability.ts
  src/util/rule.ts
  yarn.lock
Due: prettier --write, eslint --fix, cspell --config=.cspell.json

fixup(prefer-immutable-types): upgrade is-immutable-type to 1.2.0
  package.json
  src/rules/prefer-immutable-types.ts
  src/util/rule.ts
  src/util/typeguard.ts
  tests/rules/prefer-immutable-types/ts/return-types/invalid.ts
  yarn.lock
Due: prettier --write, eslint --fix, cspell --config=.cspell.json

chore: update deps
  package.json
  yarn.lock
Due: prettier --write

style: update
  .eslintrc.json
  src/rules/type-declaration-immutability.ts
Due: prettier --write, eslint --fix, cspell --config=.cspell.json

chore: update deps
  .eslintrc.json
  package.json
  yarn.lock
Due: prettier --write

docs: update ignoreInferredTypes
  docs/rules/prefer-immutable-types.md
Due: prettier --write, cspell --config=.cspell.json

feat(prefer-immutable-types): add fixer for class properties
  src/rules/prefer-immutable-types.ts
  tests/rules/prefer-immutable-types/ts/parameters/invalid.ts
  tests/rules/prefer-immutable-types/ts/variables/invalid.ts
Due: prettier --write, eslint --fix, cspell --config=.cspell.json

feat(prefer-immutable-types): improve ignore options
  docs/rules/prefer-immutable-types.md
  src/rules/prefer-immutable-types.ts
  src/rules/prefer-readonly-type.ts
  src/util/misc.ts
  tests/rules/prefer-immutable-types/ts/parameters/valid.ts
  tests/rules/prefer-immutable-types/ts/return-types/valid.ts
  tests/rules/prefer-immutable-types/ts/variables/valid.ts
Due: prettier --write, eslint --fix, cspell --config=.cspell.json

docs(prefer-immutable-types): state what the enforcement options are
  docs/rules/prefer-immutable-types.md
Due: prettier --write, cspell --config=.cspell.json

feat(prefer-immutable-types): add support for a fixer
  README.md
  docs/rules/prefer-immutable-types.md
  src/rules/prefer-immutable-types.ts
  tests/rules/prefer-immutable-types/ts/parameters/invalid.ts
  tests/rules/prefer-immutable-types/ts/return-types/invalid.ts
  tests/rules/prefer-immutable-types/ts/variables/invalid.ts
Due: prettier --write, eslint --fix, cspell --config=.cspell.json

docs: fix out of date options
  docs/rules/prefer-immutable-types.md
Due: prettier --write, cspell --config=.cspell.json

fix(prefer-immutable-types): improve the fixer
  docs/rules/prefer-immutable-types.md
  src/rules/prefer-immutable-types.ts
  tests/rules/prefer-immutable-types/ts/parameters/invalid.ts
Due: prettier --write, eslint --fix, cspell --config=.cspell.json

docs: improve ReadonlyDeep fixer example regex
  docs/rules/prefer-immutable-types.md
Due: prettier --write, cspell --config=.cspell.json

style: update code style/linting
  .eslintrc.json
  ava.config.ts
  cz-adapter/options.ts
  package.json
  src/common/ignore-options.ts
  src/configs/off.ts
  src/rules/functional-parameters.ts
  src/rules/immutable-data.ts
  src/rules/no-conditional-statements.ts
  src/rules/prefer-immutable-types.ts
  src/rules/prefer-tacit.ts
  src/util/rule.ts
  src/util/tree.ts
  src/util/typeguard.ts
  tests/configs.test.ts
  tests/tsconfig.json
  tsconfig.base.json
  typings/es.d.ts
  yarn.lock
Due: prettier --write, eslint --fix, cspell --config=.cspell.json

feat(readonly-type): create rule
  README.md
  docs/rules/readonly-type.md
  src/configs/all.ts
  src/configs/stylistic.ts
  src/rules/index.ts
  src/rules/readonly-type.ts
  src/util/tree.ts
  tests/rules/prefer-immutable-types/ts/variables/valid.ts
  tests/rules/readonly-type/index.test.ts
  tests/rules/readonly-type/ts/index.ts
  tests/rules/readonly-type/ts/invalid.ts
  tests/rules/readonly-type/ts/valid.ts
Due: prettier --write, eslint --fix, cspell --config=.cspell.json

ci: fix running test for TS 4.0.2
  .github/workflows/ci.yml
Due: prettier --write

chore: bump deps
  package.json
  yarn.lock
Due: prettier --write

style: update
  src/rules/immutable-data.ts
  src/rules/no-conditional-statements.ts
  src/rules/prefer-immutable-types.ts
  src/settings/immutability.ts
  src/util/misc.ts
Due: prettier --write, eslint --fix, cspell --config=.cspell.json

fix: drop dependency on tsutils
  .eslintrc.json
  GETTING_STARTED.md
  package.json
  src/rules/no-conditional-statements.ts
  src/util/conditional-imports/tsutils.ts
  src/util/rule.ts
  src/util/tsutils.ts
Due: prettier --write, eslint --fix, cspell --config=.cspell.json

docs: add pnpm install details
  GETTING_STARTED.md
Due: prettier --write, cspell --config=.cspell.json

ci: only install semantic release when needed
  .github/workflows/release.yml
  package.json
Due: prettier --write

feat(type-declaration-immutability): add fixer support
  README.md
  docs/rules/type-declaration-immutability.md
  src/configs/recommended.ts
  src/rules/type-declaration-immutability.ts
  tests/rules/type-declaration-immutability/ts/invalid.ts
Due: prettier --write, eslint --fix, cspell --config=.cspell.json

chore: run renovate monthly
  .github/renovate.json
Due: prettier --write

refactor(prefer-immutable-types): reorder functions
  src/rules/prefer-immutable-types.ts
Due: prettier --write, eslint --fix, cspell --config=.cspell.json

fix(no-mixed-types): add support for TypeLiteral inside `Readonly<>`
  src/rules/no-mixed-types.ts
  tests/rules/no-mixed-type/ts/invalid.ts
Due: prettier --write, eslint --fix, cspell --config=.cspell.json

fix(type-declaration-immutability): don't strip whitespace formatting from node text
  src/rules/type-declaration-immutability.ts
  tests/rules/type-declaration-immutability/ts/invalid.ts
Due: prettier --write, eslint --fix, cspell --config=.cspell.json

fix(prefer-immutable-types): fix `string[]` to `readonly string[]`
  docs/rules/prefer-immutable-types.md
  src/rules/prefer-immutable-types.ts
  tests/rules/prefer-immutable-types/ts/parameters/invalid.ts
Due: prettier --write, eslint --fix, cspell --config=.cspell.json

chore: update and pin deps
  .github/renovate.json
  package.json
  yarn.lock
Due: prettier --write

docs: add funding links
  .cspell.json
  .github/FUNDING.yml
  .markdownlint.json
  DONATIONS.md
  README.md
  package.json
  yarn.lock
Due: prettier --write, cspell --config=.cspell.json

chore: decrease heading level of issue templates
  .github/ISSUE_TEMPLATE/bug-report.md
  .github/ISSUE_TEMPLATE/feature-request.md
Due: prettier --write, cspell --config=.cspell.json

docs: reference other doc files in readme
  README.md
Due: prettier --write, cspell --config=.cspell.json

refactor: rename files and clean up imports
  .cspell.json
  .eslintrc.json
  .nycrc
  src/configs/external-typescript-recommended.ts
  src/configs/lite.ts
  src/configs/recommended.ts
  src/configs/strict.ts
  src/options/ignore.ts
  src/options/index.ts
  src/rules/functional-parameters.ts
  src/rules/immutable-data.ts
  src/rules/no-classes.ts
  src/rules/no-conditional-statements.ts
  src/rules/no-expression-statements.ts
  src/rules/no-let.ts
  src/rules/no-loop-statements.ts
  src/rules/no-mixed-types.ts
  src/rules/no-promise-reject.ts
  src/rules/no-return-void.ts
  src/rules/no-this-expressions.ts
  src/rules/no-throw-statements.ts
  src/rules/no-try-statements.ts
  src/rules/prefer-immutable-types.ts
  src/rules/prefer-property-signatures.ts
  src/rules/prefer-readonly-type.ts
  src/rules/prefer-tacit.ts
  src/rules/readonly-type.ts
  src/rules/type-declaration-immutability.ts
  src/utils/conditional-imports/.eslintrc.json
  src/utils/conditional-imports/typescript.ts
  src/utils/merge-configs.ts
  src/utils/misc.ts
  src/utils/node-types.ts
  src/utils/rule.ts
  src/utils/tree.ts
  src/utils/tsutils.ts
  src/utils/type-guards.ts
  tests/common/ignore-options.test.ts
  tests/mergers/configs.test.ts
  tsconfig.base.json
Due: prettier --write, eslint --fix, cspell --config=.cspell.json

fix: fix meta data and improve doc generation
  .cspell.json
  .eslint-doc-generatorrc.js
  .vscode/settings.json
  README.md
  docs/rules/functional-parameters.md
  docs/rules/immutable-data.md
  docs/rules/no-classes.md
  docs/rules/no-conditional-statements.md
  docs/rules/no-expression-statements.md
  docs/rules/no-let.md
  docs/rules/no-loop-statements.md
  docs/rules/no-mixed-types.md
  docs/rules/no-return-void.md
  docs/rules/no-this-expressions.md
  docs/rules/no-throw-statements.md
  docs/rules/no-try-statements.md
  docs/rules/prefer-immutable-types.md
  docs/rules/prefer-readonly-type.md
  docs/rules/type-declaration-immutability.md
  package.json
  src/rules/functional-parameters.ts
  src/rules/immutable-data.ts
  src/rules/no-classes.ts
  src/rules/no-conditional-statements.ts
  src/rules/no-expression-statements.ts
  src/rules/no-let.ts
  src/rules/no-loop-statements.ts
  src/rules/no-mixed-types.ts
  src/rules/no-promise-reject.ts
  src/rules/no-return-void.ts
  src/rules/no-this-expressions.ts
  src/rules/no-throw-statements.ts
  src/rules/no-try-statements.ts
  src/rules/prefer-immutable-types.ts
  src/rules/prefer-property-signatures.ts
  src/rules/prefer-readonly-type.ts
  src/rules/prefer-tacit.ts
  src/rules/readonly-type.ts
  src/rules/type-declaration-immutability.ts
  yarn.lock
Due: prettier --write, eslint --fix, cspell --config=.cspell.json

chore: packagejson cleanup
  .github/workflows/ci.yml
  .prettierrc
  README.md
  package.json
  yarn.lock
Due: prettier --write, cspell --config=.cspell.json

fix(prefer-tacit): use suggestions instead of a fixer and improve how that suggestion works
  README.md
  docs/rules/prefer-tacit.md
  src/configs/all.ts
  src/configs/stylistic.ts
  src/rules/prefer-tacit.ts
  src/utils/tree.ts
  src/utils/type-guards.ts
  tests/rules/prefer-tacit/es3/invalid.ts
  tests/rules/prefer-tacit/es6/invalid.ts
  tests/rules/prefer-tacit/ts-at-least-4.7/invalid.ts
  tests/rules/prefer-tacit/ts-less-than-4.7/invalid.ts
  tests/rules/prefer-tacit/ts/invalid.ts
Due: prettier --write, eslint --fix, cspell --config=.cspell.json

refactor: prefix `inX` with `is`
  src/options/ignore.ts
  src/rules/immutable-data.ts
  src/rules/no-let.ts
  src/rules/no-throw-statements.ts
  src/rules/prefer-property-signatures.ts
  src/rules/prefer-readonly-type.ts
  src/utils/tree.ts
Due: prettier --write, eslint --fix, cspell --config=.cspell.json

docs: fixup small wording issues
  CONTRIBUTING.md
  GETTING_STARTED.md
  README.md
  docs/rules/functional-parameters.md
  docs/rules/immutable-data.md
  docs/rules/no-classes.md
  docs/rules/no-mixed-types.md
  docs/rules/no-this-expressions.md
  docs/rules/prefer-immutable-types.md
  docs/rules/prefer-property-signatures.md
  docs/rules/prefer-tacit.md
  docs/rules/readonly-type.md
  src/rules/no-mixed-types.ts
Due: prettier --write, eslint --fix, cspell --config=.cspell.json

ci: fix build and verify now being different steps
  .github/workflows/release.yml
Due: prettier --write
