Repository eslint-functional/eslint-plugin-functional: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix, cspell --config=.cspell.json

build!: bump minimum supported version of node to 16.10
  .nvmrc
  package.json
Due: prettier --write

feat: use shared settings to configure immutableness overrides
  src/rules/enforce-type-declaration-immutableness.ts
  src/settings/immutableness.ts
  src/settings/index.ts
  src/util/rule.ts
  tests/helpers/util.ts
  tests/rules/enforce-type-declaration-immutableness/ts/invalid.ts
  tests/rules/enforce-type-declaration-immutableness/ts/valid.ts
  tests/rules/work.test.ts
  tsconfig.base.json
Due: prettier --write, eslint --fix, cspell --config=.cspell.json

build: remove self dev dep
  package.json
  yarn.lock
Due: prettier --write

build!: bump minimum supported version of node to 16.10
  .github/workflows/ci.yml
  .nvmrc
  package.json
  yarn.lock
Due: prettier --write

build!: bump minimum supported version of TypeScript to 4.0.2
  package.json
  yarn.lock
Due: prettier --write

feat(enforce-type-declaration-immutableness): create rule
  package.json
  src/configs/all.ts
  src/configs/no-mutations.ts
  src/rules/enforce-type-declaration-immutableness.ts
  src/rules/index.ts
  src/util/node-types.ts
  src/util/rule.ts
  tests/rules/enforce-type-declaration-immutableness/index.test.ts
  tests/rules/enforce-type-declaration-immutableness/ts/index.ts
  tests/rules/enforce-type-declaration-immutableness/ts/invalid.ts
  tests/rules/enforce-type-declaration-immutableness/ts/valid.ts
  yarn.lock
Due: prettier --write, eslint --fix, cspell --config=.cspell.json

feat(prefer-immutable-parameter-types): create rule
  src/configs/all.ts
  src/configs/no-mutations.ts
  src/rules/index.ts
  src/rules/prefer-immutable-parameter-types.ts
  tests/rules/prefer-immutable-parameter-types/index.test.ts
  tests/rules/prefer-immutable-parameter-types/ts/index.ts
  tests/rules/prefer-immutable-parameter-types/ts/invalid.ts
  tests/rules/prefer-immutable-parameter-types/ts/valid.ts
Due: prettier --write, eslint --fix, cspell --config=.cspell.json

ci: fix coverage reporting
  .github/workflows/ci.yml
Due: prettier --write

chore: make coverage reports purely informational
  .github/codecov.yml
Due: prettier --write

ci: use @ava/typescript for testing compiled code
  .nycrc
  ava.config.ts
  package.json
  scripts/compile-tests.ts
  yarn.lock
Due: prettier --write, eslint --fix, cspell --config=.cspell.json

ci: report coverage for all ts versions and setup flags for coverage
  .github/workflows/ci.yml
Due: prettier --write

feat(type-declaration-immutability): create rule
  package.json
  src/configs/all.ts
  src/configs/no-mutations.ts
  src/rules/index.ts
  src/rules/type-declaration-immutability.ts
  src/settings/immutability.ts
  src/settings/index.ts
  src/util/node-types.ts
  src/util/rule.ts
  src/util/typeguard.ts
  tests/helpers/util.ts
  tests/rules/type-declaration-immutability/index.test.ts
  tests/rules/type-declaration-immutability/ts/index.ts
  tests/rules/type-declaration-immutability/ts/invalid.ts
  tests/rules/type-declaration-immutability/ts/valid.ts
  tests/rules/work.test.ts
  tsconfig.base.json
  yarn.lock
Due: prettier --write, eslint --fix, cspell --config=.cspell.json

docs: document new rules
  .eslintrc.json
  README.md
  docs/rules/prefer-immutable-parameter-types.md
  docs/rules/settings/immutability.md
  docs/rules/type-declaration-immutability.md
Due: prettier --write, cspell --config=.cspell.json

chore: update default rule to import for the work test file
  tests/rules/work.test.ts
Due: prettier --write, eslint --fix, cspell --config=.cspell.json

fix(prefer-readonly-type): deprecated this rule
  docs/rules/prefer-readonly-type.md
  src/configs/all.ts
  src/configs/no-mutations.ts
  src/rules/prefer-readonly-type.ts
Due: prettier --write, eslint --fix, cspell --config=.cspell.json

style: disable prefer-readonly-parameter-types
  .eslintrc.json
  src/rules/prefer-tacit.ts
  src/util/typeguard.ts
Due: prettier --write, eslint --fix, cspell --config=.cspell.json

fix(no-method-signature)!: rename to "prefer-property-signatures" and move it to stylistic ruleset
  README.md
  docs/rules/no-method-signature.md
  src/configs/all.ts
  src/configs/no-mutations.ts
  src/configs/stylistic.ts
  src/rules/index.ts
  src/rules/prefer-property-signatures.ts
  tests/rules/prefer-property-signatures/index.test.ts
  tests/rules/prefer-property-signatures/ts/index.ts
  tests/rules/prefer-property-signatures/ts/invalid.ts
  tests/rules/prefer-property-signatures/ts/valid.ts
Due: prettier --write, eslint --fix, cspell --config=.cspell.json

docs: drop prefer-readonly-type from readme
  README.md
Due: prettier --write, cspell --config=.cspell.json

fix!: remove `@typescript-eslint/prefer-readonly-parameter-types` from `external-recommended`
  README.md
  src/configs/external-recommended.ts
Due: prettier --write, eslint --fix, cspell --config=.cspell.json

Notes added by 'git notes add'
  5d41e7c7cd8fa6f05f4db34a8e2088c62267772b
Due: none

chore: fixup release commit analyzing
  .releaserc
Due: none

chore(release): 5.0.0-beta.1 [skip ci]
  CHANGELOG.md
Due: prettier --write, cspell --config=.cspell.json

Notes added by 'git notes add'
  c0873a057bb3844f0da1f7ae185cf02faa42edf9
Due: none

chore(release): 4.3.2 [skip ci]
  CHANGELOG.md
Due: prettier --write, cspell --config=.cspell.json

Notes added by 'git notes add'
  fa3de39a61be7df48708e412b81669b13ee86c4e
Due: none

chore: update renovate rules
  .github/renovate.json
Due: prettier --write

chore: update release rules
  .releaserc
Due: none

feat(functional-parameters): add support for ignoring selector prefixes
  docs/rules/functional-parameters.md
  src/common/ignore-options.ts
  src/rules/functional-parameters.ts
  src/util/rule.ts
  tests/rules/functional-parameters/es3/invalid.ts
  tests/rules/functional-parameters/es3/valid.ts
  tests/rules/functional-parameters/es6/valid.ts
Due: prettier --write, eslint --fix, cspell --config=.cspell.json

chore(release): 4.4.0 [skip ci]
  CHANGELOG.md
Due: prettier --write, cspell --config=.cspell.json

Notes added by 'git notes add'
  6fed40eb9341d1c5fdc967ea9a63787b22fde49c
Due: none

feat(prefer-readonly-type): deprecated this rule
  README.md
  docs/rules/prefer-readonly-type.md
  src/configs/all.ts
  src/configs/no-mutations.ts
  src/rules/prefer-readonly-type.ts
Due: prettier --write, eslint --fix, cspell --config=.cspell.json

Path conditions:
  prettier --write: ((any of: ./**/*.{json,jsonc,yml}) or (any of: ./**/*.ts)) or (any of: ./**/*.md)
  eslint --fix: any of: ./**/*.ts
  cspell --config=.cspell.json: (any of: ./**/*.ts) or (any of: ./**/*.md)
