Repository eslint-functional/eslint-plugin-functional: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix, cspell --config=.cspell.json

.lintstagedrc:

{
  "./**/*.{json,jsonc,yml}": [
    "prettier --write"
  ],
  "./**/*.ts": [
    "prettier --write",
    "eslint --fix",
    "cspell --config=.cspell.json"
  ],
  "./**/*.md": [
    "prettier --write",
    "cspell --config=.cspell.json"
  ]
}

chore: update is-immutable-type
  package.json
  yarn.lock
Due: prettier --write

style: update linting
  .eslintrc.json
  cz-adapter/options.ts
  docs/rules/prefer-immutable-types.md
  package.json
  src/common/ignore-options.ts
  src/rules/functional-parameters.ts
  src/rules/immutable-data.ts
  src/rules/no-classes.ts
  src/rules/no-conditional-statements.ts
  src/rules/no-expression-statements.ts
  src/rules/no-let.ts
  src/rules/no-loop-statements.ts
  src/rules/no-mixed-types.ts
  src/rules/no-promise-reject.ts
  src/rules/no-return-void.ts
  src/rules/no-this-expressions.ts
  src/rules/no-throw-statements.ts
  src/rules/no-try-statements.ts
  src/rules/prefer-immutable-types.ts
  src/rules/prefer-property-signatures.ts
  src/rules/prefer-readonly-type.ts
  src/rules/prefer-tacit.ts
  src/rules/type-declaration-immutability.ts
  src/settings/immutability.ts
  src/util/misc.ts
  src/util/rule.ts
  src/util/tree.ts
  src/util/typeguard.ts
  tests/helpers/testers.ts
  tests/helpers/util.ts
  yarn.lock
Due: prettier --write, eslint --fix, cspell --config=.cspell.json

docs: update readme
  README.md
Due: prettier --write, cspell --config=.cspell.json

chore: remove double build from verify
  package.json
Due: prettier --write

fixup: conditionally import typescript
  src/util/rule.ts
Due: prettier --write, eslint --fix, cspell --config=.cspell.json

refactor: remove IgnoreInterfacesOption
  src/common/ignore-options.ts
  src/rules/prefer-readonly-type.ts
Due: prettier --write, eslint --fix, cspell --config=.cspell.json

fixup(prefer-immutable-types): adjust error messages
  src/rules/prefer-immutable-types.ts
Due: prettier --write, eslint --fix, cspell --config=.cspell.json

fixup: shouldIgnoreClasses check is class in adition to in class
  src/common/ignore-options.ts
Due: prettier --write, eslint --fix, cspell --config=.cspell.json

docs: fixup prefer-immutable-types options
  docs/rules/prefer-immutable-types.md
Due: prettier --write, cspell --config=.cspell.json

fixup: merging of configs
  src/util/merge-configs.ts
  tests/mergers/configs.test.ts
Due: prettier --write, eslint --fix, cspell --config=.cspell.json

chore: update is-immutable-type to 1.1.0
  package.json
  src/rules/prefer-immutable-types.ts
  src/rules/type-declaration-immutability.ts
  src/util/rule.ts
  yarn.lock
Due: prettier --write, eslint --fix, cspell --config=.cspell.json

fixup(prefer-immutable-types): ignore type guard parameters
  src/rules/prefer-immutable-types.ts
  src/util/typeguard.ts
  tests/rules/prefer-immutable-types/ts/parameters/invalid.ts
  tests/rules/prefer-immutable-types/ts/parameters/valid.ts
Due: prettier --write, eslint --fix, cspell --config=.cspell.json

fixup(prefer-immutable-types): upgrade is-immutable-type to 1.2.0
  package.json
  src/rules/prefer-immutable-types.ts
  src/util/rule.ts
  src/util/typeguard.ts
  tests/rules/prefer-immutable-types/ts/return-types/invalid.ts
  yarn.lock
Due: prettier --write, eslint --fix, cspell --config=.cspell.json

chore: update deps
  package.json
  yarn.lock
Due: prettier --write

style: update
  .eslintrc.json
  src/rules/type-declaration-immutability.ts
Due: prettier --write, eslint --fix, cspell --config=.cspell.json

feat(type-declaration-immutability): create rule
  package.json
  src/configs/all.ts
  src/configs/no-mutations.ts
  src/rules/index.ts
  src/rules/type-declaration-immutability.ts
  src/settings/immutability.ts
  src/settings/index.ts
  src/util/node-types.ts
  src/util/rule.ts
  src/util/typeguard.ts
  tests/helpers/util.ts
  tests/rules/type-declaration-immutability/index.test.ts
  tests/rules/type-declaration-immutability/ts/index.ts
  tests/rules/type-declaration-immutability/ts/invalid.ts
  tests/rules/type-declaration-immutability/ts/valid.ts
  tests/rules/work.test.ts
  tsconfig.base.json
  yarn.lock
Due: prettier --write, eslint --fix, cspell --config=.cspell.json

build!: bump minimum supported version of node to 16.10
  .github/workflows/ci.yml
  .nvmrc
  package.json
  yarn.lock
Due: prettier --write

build!: bump minimum supported version of TypeScript to 4.0.2
  package.json
  yarn.lock
Due: prettier --write

feat(prefer-immutable-types): create rule
  src/configs/all.ts
  src/configs/no-mutations.ts
  src/rules/index.ts
  src/rules/prefer-immutable-parameter-types.ts
  tests/rules/prefer-immutable-parameter-types/index.test.ts
  tests/rules/prefer-immutable-parameter-types/ts/index.ts
  tests/rules/prefer-immutable-parameter-types/ts/invalid.ts
  tests/rules/prefer-immutable-parameter-types/ts/valid.ts
Due: prettier --write, eslint --fix, cspell --config=.cspell.json

feat(prefer-readonly-type): deprecated this rule
  README.md
  docs/rules/prefer-readonly-type.md
  src/configs/all.ts
  src/configs/no-mutations.ts
  src/rules/prefer-readonly-type.ts
Due: prettier --write, eslint --fix, cspell --config=.cspell.json

docs: document new rules
  .eslintrc.json
  README.md
  docs/rules/prefer-immutable-parameter-types.md
  docs/rules/settings/immutability.md
  docs/rules/type-declaration-immutability.md
Due: prettier --write, cspell --config=.cspell.json

feat(no-method-signature)!: rename to `prefer-property-signatures` & move it to `stylistic` ruleset
  README.md
  docs/rules/no-method-signature.md
  src/configs/all.ts
  src/configs/no-mutations.ts
  src/configs/stylistic.ts
  src/rules/index.ts
  src/rules/prefer-property-signatures.ts
  tests/rules/prefer-property-signatures/index.test.ts
  tests/rules/prefer-property-signatures/ts/index.ts
  tests/rules/prefer-property-signatures/ts/invalid.ts
  tests/rules/prefer-property-signatures/ts/valid.ts
Due: prettier --write, eslint --fix, cspell --config=.cspell.json

chore: update default rule to import for the work test file
  tests/rules/work.test.ts
Due: prettier --write, eslint --fix, cspell --config=.cspell.json

feat!: remove `@typescript-eslint/prefer-readonly-parameter-types` from `external-recommended`
  README.md
  src/configs/external-recommended.ts
Due: prettier --write, eslint --fix, cspell --config=.cspell.json

feat!: split `external-recommended` rulesets into vanilla and typescript variants
  src/configs/external-recommended.ts
  src/configs/external-typescript-recommended.ts
  src/configs/external-vanilla-recommended.ts
  src/index.ts
Due: prettier --write, eslint --fix, cspell --config=.cspell.json

style: disable prefer-readonly-parameter-types
  .eslintrc.json
  src/rules/prefer-tacit.ts
  src/util/typeguard.ts
Due: prettier --write, eslint --fix, cspell --config=.cspell.json

refactor: rename ruleset files
  src/configs/lite.ts
  src/configs/recommended.ts
  src/index.ts
  tests/configs.test.ts
Due: prettier --write, eslint --fix, cspell --config=.cspell.json

feat!: add new strict ruleset and reduce strictness of the recommended ruleset
  src/configs/recommended.ts
  src/configs/strict.ts
  src/index.ts
  tests/configs.test.ts
Due: prettier --write, eslint --fix, cspell --config=.cspell.json

feat!: update ruleset configurations
  README.md
  src/configs/all.ts
  src/configs/currying.ts
  src/configs/deprecated.ts
  src/configs/lite.ts
  src/configs/no-exceptions.ts
  src/configs/no-mutations.ts
  src/configs/no-object-orientation.ts
  src/configs/no-statements.ts
  src/configs/off.ts
  src/configs/recommended.ts
  src/configs/stylistic.ts
  tests/configs.test.ts
  tests/index.test.ts
Due: prettier --write, eslint --fix, cspell --config=.cspell.json

style: update linting
  .eslintrc.json
  .vscode/settings.json
  package.json
  scripts/compile-tests.mts
  scripts/tsconfig.json
  src/common/ignore-options.ts
  src/rules/functional-parameters.ts
  src/rules/no-conditional-statement.ts
  src/util/rule.ts
  src/util/typeguard.ts
  tests/common/ignore-options.test.ts
  tests/helpers/configs.ts
  tests/index.test.ts
  tests/rules/index.test.ts
  tsconfig.base.json
  typings/es.d.ts
  yarn.lock
Due: prettier --write, eslint --fix, cspell --config=.cspell.json

fixup: update ruleset configurations
  src/configs/lite.ts
  src/configs/recommended.ts
  src/rules/prefer-immutable-parameter-types.ts
Due: prettier --write, eslint --fix, cspell --config=.cspell.json

feat!: rename ruleset `no-object-orientation` to `no-other-paradigms`
  src/configs/no-other-paradigms.ts
  src/configs/strict.ts
  src/index.ts
  tests/configs.test.ts
Due: prettier --write, eslint --fix, cspell --config=.cspell.json

chore: remove "pre" scripts
  package.json
Due: prettier --write

docs: breakup and update readme
  .cspell.json
  CONTRIBUTING.md
  GETTING_STARTED.md
  README.md
Due: prettier --write, cspell --config=.cspell.json

docs: update rule docs
  docs/rules/functional-parameters.md
  docs/rules/immutable-data.md
  docs/rules/no-class.md
  docs/rules/no-conditional-statement.md
  docs/rules/no-expression-statement.md
  docs/rules/no-let.md
  docs/rules/no-loop-statement.md
  docs/rules/no-method-signature.md
  docs/rules/no-mixed-type.md
  docs/rules/no-promise-reject.md
  docs/rules/no-return-void.md
  docs/rules/no-this-expression.md
  docs/rules/no-throw-statement.md
  docs/rules/no-try-statement.md
  docs/rules/prefer-immutable-parameter-types.md
  docs/rules/prefer-readonly-type.md
  docs/rules/prefer-tacit.md
  docs/rules/type-declaration-immutability.md
Due: prettier --write, cspell --config=.cspell.json

refactor: remove useless override
  src/configs/lite.ts
Due: prettier --write, eslint --fix, cspell --config=.cspell.json

chore: update is-immutable-type to 1.0
  package.json
  yarn.lock
Due: prettier --write

fixup(type-declaration-immutability): make rule more strict by default, add overrides to rulesets
  docs/rules/type-declaration-immutability.md
  src/configs/recommended.ts
  src/rules/type-declaration-immutability.ts
Due: prettier --write, eslint --fix, cspell --config=.cspell.json

feat(functional-parameters): add option to ignore lambda function expressions
  docs/rules/functional-parameters.md
  src/configs/recommended.ts
  src/rules/functional-parameters.ts
  src/util/tree.ts
  tests/rules/functional-parameters/es3/invalid.ts
  tests/rules/functional-parameters/es3/valid.ts
  tests/rules/functional-parameters/es6/invalid.ts
  tests/rules/functional-parameters/es6/valid.ts
Due: prettier --write, eslint --fix, cspell --config=.cspell.json
