Repository eslint-functional/eslint-plugin-functional: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix, cspell --config=.cspell.json, cspell lint --no-progress --show-suggestions --show-context --no-must-find-files --dot, markdownlint-cli2 --fix, pnpm dedupe && :

.lintstagedrc:

{
  "./**/*.{json,jsonc,yml}": [
    "prettier --write"
  ],
  "./**/*.ts": [
    "prettier --write",
    "eslint --fix",
    "cspell --config=.cspell.json"
  ],
  "./**/*.md": [
    "prettier --write",
    "cspell --config=.cspell.json"
  ]
}

.lintstagedrc.yml:

"*.{json,yml}":
  - eslint --fix
  - cspell lint --no-progress --show-suggestions --show-context --no-must-find-files --dot

"*.?([cm])[jt]s?(x)":
  - eslint --fix
  - cspell lint --no-progress --show-suggestions --show-context --no-must-find-files --dot
  - tsc-files -p tsconfig.build.json --noEmit

"*.md":
  - markdownlint-cli2 --fix
  - eslint --fix
  - cspell lint --no-progress --show-suggestions --show-context --no-must-find-files --dot

pnpm-lock.yaml:
  - "pnpm dedupe && :"

fix(immutable-data): ignoreAccessorPattern can now handle NonNullExpressions and ChainExpressions (#849)
  src/utils/misc.ts
  src/utils/type-guards.ts
  tests/rules/immutable-data/ts/object/valid.ts
Due: prettier --write, eslint --fix, cspell --config=.cspell.json

chore(release): 6.6.3 [skip ci]
  CHANGELOG.md
Due: prettier --write, eslint --fix, cspell --config=.cspell.json, cspell lint --no-progress --show-suggestions --show-context --no-must-find-files --dot, markdownlint-cli2 --fix

Notes added by 'git notes add'
  655bdb13039944ec46326b05e3cc3c6320016d48
Due: none

refactor: swap-out long nested ternaries for if statements (#850)
  src/utils/misc.ts
Due: prettier --write, eslint --fix, cspell --config=.cspell.json

chore: remove commitizen (#861)
  .commitlintrc.cjs
  .czrc
  .eslintrc.json
  .github/renovate.json
  .github/workflows/semantic-pr.yml
  .husky/commit-msg
  CONTRIBUTING.md
  cz-adapter/engine.ts
  cz-adapter/index.js
  cz-adapter/index.ts
  cz-adapter/options.ts
  cz-adapter/tsconfig.json
  knip.jsonc
  package.json
  pnpm-lock.yaml
Due: prettier --write, eslint --fix, cspell --config=.cspell.json, cspell lint --no-progress --show-suggestions --show-context --no-must-find-files --dot, markdownlint-cli2 --fix, pnpm dedupe && :

part: set up overridable options (#812)
  knip.jsonc
  package.json
  pnpm-lock.yaml
  src/options/index.ts
  src/options/overrides.ts
  src/utils/rule.ts
  src/utils/schemas.ts
  src/utils/type-specifier.ts
Due: prettier --write, eslint --fix, cspell --config=.cspell.json, cspell lint --no-progress --show-suggestions --show-context --no-must-find-files --dot, pnpm dedupe && :

feat(functional-parameters): allow overriding options based on where the function type is declared (#803)
  README.md
  docs/rules/functional-parameters.md
  knip.jsonc
  src/rules/functional-parameters.ts
  src/utils/schemas.ts
  tests/rules/functional-parameters.test.ts
Due: prettier --write, eslint --fix, cspell --config=.cspell.json, cspell lint --no-progress --show-suggestions --show-context --no-must-find-files --dot, markdownlint-cli2 --fix

feat(functional-parameters): change options in recommended and lite configs (#811)
  src/configs/recommended.ts
Due: prettier --write, eslint --fix, cspell --config=.cspell.json

feat(prefer-immutable-types): allow overriding options based on where the type is declared (#804)
  docs/rules/prefer-immutable-types.md
  eslint.config.js
  src/rules/prefer-immutable-types.ts
Due: prettier --write, eslint --fix, cspell --config=.cspell.json, cspell lint --no-progress --show-suggestions --show-context --no-must-find-files --dot, markdownlint-cli2 --fix

feat(prefer-immutable-types): change the options in recommeneded and lite configs (#810)
  src/configs/lite.ts
  src/configs/recommended.ts
Due: prettier --write, eslint --fix, cspell --config=.cspell.json

feat(immutable-data): allows for applying overrides to the options based on the root object's type (#826)
  docs/rules/immutable-data.md
  src/rules/immutable-data.ts
Due: prettier --write, eslint --fix, cspell --config=.cspell.json, cspell lint --no-progress --show-suggestions --show-context --no-must-find-files --dot, markdownlint-cli2 --fix

feat(no-throw-statements)!: replace option `allowInAsyncFunctions` with `allowToRejectPromises` (#839)
  docs/rules/no-throw-statements.md
  docs/rules/prefer-immutable-types.md
  eslint.config.js
  src/configs/recommended.ts
  src/rules/no-throw-statements.ts
  src/utils/tree.ts
  tests/rules/no-throw-statements.test.ts
Due: prettier --write, eslint --fix, cspell --config=.cspell.json, cspell lint --no-progress --show-suggestions --show-context --no-must-find-files --dot, markdownlint-cli2 --fix

fix: checking of types from ts's lib are now more strict (#862)
  src/rules/immutable-data.ts
  src/rules/prefer-readonly-type.ts
  src/utils/tree.ts
  src/utils/type-guards.ts
Due: prettier --write, eslint --fix, cspell --config=.cspell.json

feat(no-classes): add options ignoreIdentifierPattern and ignoreCodePattern (#863)
  docs/rules/no-classes.md
  src/rules/no-classes.ts
  tests/rules/__snapshots__/no-classes.test.ts.snap
  tests/rules/no-classes.test.ts
Due: prettier --write, eslint --fix, cspell --config=.cspell.json, cspell lint --no-progress --show-suggestions --show-context --no-must-find-files --dot, markdownlint-cli2 --fix

chore: add graphite labels (#864)
  .github/labels.yml
Due: prettier --write, eslint --fix, cspell lint --no-progress --show-suggestions --show-context --no-must-find-files --dot

chore(release): 7.0.0 [skip ci]
  CHANGELOG.md
Due: prettier --write, eslint --fix, cspell --config=.cspell.json, cspell lint --no-progress --show-suggestions --show-context --no-must-find-files --dot, markdownlint-cli2 --fix

Notes added by 'git notes add'
  f3209fce11917ab9efeb74320927c754dcada35e
Due: none

docs: update changelog
  CHANGELOG.md
Due: prettier --write, eslint --fix, cspell --config=.cspell.json, cspell lint --no-progress --show-suggestions --show-context --no-must-find-files --dot, markdownlint-cli2 --fix

ci: update allowed scopes
  .github/workflows/semantic-pr.yml
Due: prettier --write, eslint --fix, cspell lint --no-progress --show-suggestions --show-context --no-must-find-files --dot

fix: don't throw when typescript can't be resolved
  src/utils/conditional-imports/ts-api-utils.ts
  src/utils/conditional-imports/typescript.ts
Due: prettier --write, eslint --fix, cspell --config=.cspell.json

build:(deps, dev-deps): update deps
  eslint.config.js
  knip.jsonc
  package.json
  pnpm-lock.yaml
Due: prettier --write, eslint --fix, cspell lint --no-progress --show-suggestions --show-context --no-must-find-files --dot, pnpm dedupe && :

chore(release): 7.0.1 [skip ci]
  CHANGELOG.md
Due: prettier --write, eslint --fix, cspell --config=.cspell.json, cspell lint --no-progress --show-suggestions --show-context --no-must-find-files --dot, markdownlint-cli2 --fix

Notes added by 'git notes add'
  72969f4cae5b039a391c3f8c41e1f3783262e119
Due: none

fix(no-expression-statements): ignore `Promise<void>` when `ignoreVoid` is set (#866)
  docs/rules/no-expression-statements.md
  src/rules/no-expression-statements.ts
  tests/rules/no-expression-statements.test.ts
Due: prettier --write, eslint --fix, cspell --config=.cspell.json, cspell lint --no-progress --show-suggestions --show-context --no-must-find-files --dot, markdownlint-cli2 --fix

chore(release): 7.0.2 [skip ci]
  CHANGELOG.md
Due: prettier --write, eslint --fix, cspell --config=.cspell.json, cspell lint --no-progress --show-suggestions --show-context --no-must-find-files --dot, markdownlint-cli2 --fix

Notes added by 'git notes add'
  ca577b713a13475ff671daad720c3c627b0dcb57
Due: none

docs: fix spelling (#887)
  GETTING_STARTED.md
  README.md
Due: prettier --write, eslint --fix, cspell --config=.cspell.json, cspell lint --no-progress --show-suggestions --show-context --no-must-find-files --dot, markdownlint-cli2 --fix

build: lockfile update
  pnpm-lock.yaml
Due: pnpm dedupe && :

fix(functional-parameters): default options not being applied to option overrides (#888)
  docs/rules/functional-parameters.md
  src/configs/recommended.ts
  src/rules/functional-parameters.ts
Due: prettier --write, eslint --fix, cspell --config=.cspell.json, cspell lint --no-progress --show-suggestions --show-context --no-must-find-files --dot, markdownlint-cli2 --fix

fix: ensure default options are applied (#889)
  src/rules/immutable-data.ts
  src/rules/prefer-immutable-types.ts
Due: prettier --write, eslint --fix, cspell --config=.cspell.json

chore(release): 7.0.3 [skip ci]
  CHANGELOG.md
Due: prettier --write, eslint --fix, cspell --config=.cspell.json, cspell lint --no-progress --show-suggestions --show-context --no-must-find-files --dot, markdownlint-cli2 --fix

Notes added by 'git notes add'
  863a68b3064c07f7942e0062ddd5d94020dd89fb
Due: none

build: fix lock
  package.json
  pnpm-lock.yaml
Due: prettier --write, eslint --fix, cspell lint --no-progress --show-suggestions --show-context --no-must-find-files --dot, pnpm dedupe && :

ci: build local plugin
  .github/workflows/lint-markdown.yml
  .github/workflows/lint-yaml.yml
Due: prettier --write, eslint --fix, cspell lint --no-progress --show-suggestions --show-context --no-must-find-files --dot

feat: new rule no-class-inheritance (#890)
  .github/workflows/semantic-pr.yml
  README.md
  docs/rules/no-class-inheritance.md
  eslint.config.js
  src/configs/lite.ts
  src/rules/index.ts
  src/rules/no-class-inheritance.ts
  tests/rules/__snapshots__/no-class-inheritance.test.ts.snap
  tests/rules/no-class-inheritance.test.ts
Due: prettier --write, eslint --fix, cspell --config=.cspell.json, cspell lint --no-progress --show-suggestions --show-context --no-must-find-files --dot, markdownlint-cli2 --fix

Notes added by 'git notes add'
  6d300fdb76d8bfeba0661fa8f01d72c98a34039d
Due: none
