Repository eslint-functional/eslint-plugin-functional: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix, cspell --config=.cspell.json, prettier --ignore-unknown --write, cspell, markdownlint --config=.markdownlint.json --ignore-path=.markdownlintignore

.lintstagedrc:

{
  "./**/*.{json,jsonc,yml}": [
    "prettier --write"
  ],
  "./**/*.ts": [
    "prettier --write",
    "eslint --fix",
    "cspell --config=.cspell.json"
  ],
  "./**/*.md": [
    "prettier --write",
    "cspell --config=.cspell.json"
  ]
}

.lintstagedrc.yml:

"*.{json,yml}":
  - prettier --ignore-unknown --write

"*.ts":
  - prettier --ignore-unknown --write
  - eslint --fix
  - cspell

"*.md":
  - prettier --ignore-unknown --write
  - markdownlint --config=.markdownlint.json --ignore-path=.markdownlintignore
  - cspell

chore: fix running rules that require type info in markdown
  docs/rules/prefer-immutable-types.md
  docs/rules/type-declaration-immutability.md
Due: prettier --write, cspell --config=.cspell.json, prettier --ignore-unknown --write, cspell, markdownlint --config=.markdownlint.json --ignore-path=.markdownlintignore

test: typescript rules now require typescript
  tests/helpers/configs.ts
  tests/rules/prefer-tacit/ts/invalid.ts
  tests/rules/prefer-tacit/ts/valid.ts
Due: prettier --write, eslint --fix, cspell --config=.cspell.json, prettier --ignore-unknown --write, cspell

refactor: import test case types from rule-tester
  tests/helpers/util.ts
Due: prettier --write, eslint --fix, cspell --config=.cspell.json, prettier --ignore-unknown --write, cspell

chore: deps update
  package.json
  pnpm-lock.yaml
Due: prettier --write, prettier --ignore-unknown --write

docs: add tidelift funding info
  .github/FUNDING.yml
  DONATIONS.md
Due: prettier --write, cspell --config=.cspell.json, prettier --ignore-unknown --write, cspell, markdownlint --config=.markdownlint.json --ignore-path=.markdownlintignore

refactor: extend RuleTester instead of overwriting values
  tests/helpers/RuleTester.ts
Due: prettier --write, eslint --fix, cspell --config=.cspell.json, prettier --ignore-unknown --write, cspell

docs(prefer-immutable-types): add note about pure functions
  docs/rules/prefer-immutable-types.md
Due: prettier --write, cspell --config=.cspell.json, prettier --ignore-unknown --write, cspell, markdownlint --config=.markdownlint.json --ignore-path=.markdownlintignore

chore: check conditional-imports
  vite.config.ts
Due: prettier --write, eslint --fix, cspell --config=.cspell.json, prettier --ignore-unknown --write, cspell

docs: remove some comments
  src/utils/conditional-imports/ts-api-utils.ts
  src/utils/conditional-imports/typescript.ts
Due: prettier --write, eslint --fix, cspell --config=.cspell.json, prettier --ignore-unknown --write, cspell

chore: collect coverage when running local js tests
  package.json
Due: prettier --write, prettier --ignore-unknown --write

style: ignore coverage of sanity checks
  src/settings/immutability.ts
Due: prettier --write, eslint --fix, cspell --config=.cspell.json, prettier --ignore-unknown --write, cspell

build: remove unneeded rollup plugins
  package.json
  pnpm-lock.yaml
  rollup.config.tests.ts
  rollup.config.ts
Due: prettier --write, eslint --fix, cspell --config=.cspell.json, prettier --ignore-unknown --write, cspell

build: compiled tests need typescript sourcemaps too
  rollup.config.tests.ts
Due: prettier --write, eslint --fix, cspell --config=.cspell.json, prettier --ignore-unknown --write, cspell

chore: improve coverage mapping
  knip.jsonc
  package.json
  pnpm-lock.yaml
  rollup.config.tests.ts
  tsconfig.tests-compiled.json
  vite.config.ts
Due: prettier --write, eslint --fix, cspell --config=.cspell.json, prettier --ignore-unknown --write, cspell

ci: disbale JS env tests for now
  .github/workflows/test-js.yml
Due: prettier --write, prettier --ignore-unknown --write

style: fix import/no-duplicates
  src/rules/functional-parameters.ts
  src/rules/immutable-data.ts
  src/rules/no-classes.ts
  src/rules/no-conditional-statements.ts
  src/rules/no-expression-statements.ts
  src/rules/no-let.ts
  src/rules/no-loop-statements.ts
  src/rules/no-mixed-types.ts
  src/rules/no-promise-reject.ts
  src/rules/no-return-void.ts
  src/rules/no-this-expressions.ts
  src/rules/no-throw-statements.ts
  src/rules/no-try-statements.ts
  src/rules/prefer-immutable-types.ts
  src/rules/prefer-property-signatures.ts
  src/rules/prefer-readonly-type.ts
  src/rules/prefer-tacit.ts
  src/rules/readonly-type.ts
  src/rules/type-declaration-immutability.ts
  src/settings/immutability.ts
  src/utils/misc.ts
  src/utils/rule.ts
  src/utils/type-guards.ts
  tests/common/ignore-options.test.ts
  tests/helpers/testers.ts
Due: prettier --write, eslint --fix, cspell --config=.cspell.json, prettier --ignore-unknown --write, cspell

chore: update pnpm
  package.json
Due: prettier --write, prettier --ignore-unknown --write

build: switch to semantic-release-replace-plugin
  .releaserc.yml
  package.json
  pnpm-lock.yaml
Due: prettier --write, prettier --ignore-unknown --write

chore(release): 6.0.0 [skip ci]
  CHANGELOG.md
Due: prettier --write, cspell --config=.cspell.json, prettier --ignore-unknown --write, cspell, markdownlint --config=.markdownlint.json --ignore-path=.markdownlintignore

Notes added by 'git notes add'
  27db8bf41857a849d97340b1503dc32e42c6a633
Due: none

docs: update changelog
  CHANGELOG.md
Due: prettier --write, cspell --config=.cspell.json, prettier --ignore-unknown --write, cspell, markdownlint --config=.markdownlint.json --ignore-path=.markdownlintignore

chore: fix cspell config for ignoring hex digits
  .cspell.json
Due: prettier --write, prettier --ignore-unknown --write

fix: typos in function names
  src/rules/immutable-data.ts
  src/rules/prefer-immutable-types.ts
  src/rules/type-declaration-immutability.ts
  src/utils/tree.ts
Due: prettier --write, eslint --fix, cspell --config=.cspell.json, prettier --ignore-unknown --write, cspell

chore: update configs
  .cspell.json
  .github/renovate.json
  .npmrc
  DONATIONS.md
  cspell.config.yaml
  package.json
  pnpm-lock.yaml
  project-dictionary.txt
  src/utils/tree.ts
Due: prettier --write, eslint --fix, cspell --config=.cspell.json, prettier --ignore-unknown --write, cspell, markdownlint --config=.markdownlint.json --ignore-path=.markdownlintignore

chore(release): 6.0.1 [skip ci]
  CHANGELOG.md
Due: prettier --write, cspell --config=.cspell.json, prettier --ignore-unknown --write, cspell, markdownlint --config=.markdownlint.json --ignore-path=.markdownlintignore

Notes added by 'git notes add'
  4649ab5220eecdfaf03034faea7bf23f211b281e
Due: none

fix(immutable-data): treat Object.entries({}).sort() as immediate mutation
  src/rules/immutable-data.ts
  tests/rules/immutable-data/ts/array/invalid.ts
  tests/rules/immutable-data/ts/array/valid.ts
Due: prettier --write, eslint --fix, cspell --config=.cspell.json, prettier --ignore-unknown --write, cspell

docs: mark which rules require type checking
  README.md
  docs/rules/immutable-data.md
  docs/rules/no-conditional-statements.md
  docs/rules/no-expression-statements.md
  docs/rules/no-mixed-types.md
  docs/rules/no-return-void.md
  docs/rules/prefer-immutable-types.md
  docs/rules/prefer-property-signatures.md
  docs/rules/prefer-readonly-type.md
  docs/rules/prefer-tacit.md
  docs/rules/readonly-type.md
  docs/rules/type-declaration-immutability.md
  src/rules/immutable-data.ts
  src/rules/no-conditional-statements.ts
  src/rules/no-expression-statements.ts
  src/rules/no-mixed-types.ts
  src/rules/no-return-void.ts
  src/rules/prefer-immutable-types.ts
  src/rules/prefer-property-signatures.ts
  src/rules/prefer-readonly-type.ts
  src/rules/prefer-tacit.ts
  src/rules/readonly-type.ts
  src/rules/type-declaration-immutability.ts
Due: prettier --write, eslint --fix, cspell --config=.cspell.json, prettier --ignore-unknown --write, cspell, markdownlint --config=.markdownlint.json --ignore-path=.markdownlintignore

feat: new config to disable all rules that require type info
  src/configs/disable-type-checked.ts
  src/index.ts
Due: prettier --write, eslint --fix, cspell --config=.cspell.json, prettier --ignore-unknown --write, cspell

docs: update getting started for JS only
  GETTING_STARTED.md
Due: prettier --write, cspell --config=.cspell.json, prettier --ignore-unknown --write, cspell, markdownlint --config=.markdownlint.json --ignore-path=.markdownlintignore

ci: use node 20 for releases
  .github/workflows/release.yml
Due: prettier --write, prettier --ignore-unknown --write

chore(release): 6.1.0 [skip ci]
  CHANGELOG.md
Due: prettier --write, cspell --config=.cspell.json, prettier --ignore-unknown --write, cspell, markdownlint --config=.markdownlint.json --ignore-path=.markdownlintignore

Notes added by 'git notes add'
  675fa1eb599d7b83ed61449b68dfc780858159ac
Due: none

docs: fix docs for no-promise-reject
  docs/rules/no-promise-reject.md
  src/rules/no-promise-reject.ts
Due: prettier --write, eslint --fix, cspell --config=.cspell.json, prettier --ignore-unknown --write, cspell, markdownlint --config=.markdownlint.json --ignore-path=.markdownlintignore

docs: fix missing badge
  README.md
Due: prettier --write, cspell --config=.cspell.json, prettier --ignore-unknown --write, cspell, markdownlint --config=.markdownlint.json --ignore-path=.markdownlintignore

docs: update autogen docs
  README.md
  docs/rules/no-promise-reject.md
Due: prettier --write, cspell --config=.cspell.json, prettier --ignore-unknown --write, cspell, markdownlint --config=.markdownlint.json --ignore-path=.markdownlintignore

docs: add docs for disableTypeChecked
  README.md
Due: prettier --write, cspell --config=.cspell.json, prettier --ignore-unknown --write, cspell, markdownlint --config=.markdownlint.json --ignore-path=.markdownlintignore

fix(immutable-data): handle immediate mutation of arrays generated from strings
  src/rules/immutable-data.ts
  tests/rules/immutable-data/ts/array/valid.ts
Due: prettier --write, eslint --fix, cspell --config=.cspell.json, prettier --ignore-unknown --write, cspell
