Repository eslint-functional/eslint-plugin-functional: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix, cspell --config=.cspell.json

chore: update deps
  yarn.lock
Due: none

chore: update deps
  .eslintrc.json
  package.json
  yarn.lock
Due: prettier --write

docs(prefer-immutable-types): state what the enforcement options are
  docs/rules/prefer-immutable-types.md
Due: prettier --write, cspell --config=.cspell.json

feat(prefer-immutable-types): improve ignore options
  docs/rules/prefer-immutable-types.md
  src/rules/prefer-immutable-types.ts
  src/rules/prefer-readonly-type.ts
  src/util/misc.ts
  tests/rules/prefer-immutable-types/ts/parameters/valid.ts
  tests/rules/prefer-immutable-types/ts/return-types/valid.ts
  tests/rules/prefer-immutable-types/ts/variables/valid.ts
Due: prettier --write, eslint --fix, cspell --config=.cspell.json

docs: update ignoreInferredTypes
  docs/rules/prefer-immutable-types.md
Due: prettier --write, cspell --config=.cspell.json

feat(prefer-immutable-types): add fixer for class properties
  src/rules/prefer-immutable-types.ts
  tests/rules/prefer-immutable-types/ts/parameters/invalid.ts
  tests/rules/prefer-immutable-types/ts/variables/invalid.ts
Due: prettier --write, eslint --fix, cspell --config=.cspell.json

feat(prefer-immutable-types): add support for a fixer
  README.md
  docs/rules/prefer-immutable-types.md
  src/rules/prefer-immutable-types.ts
  tests/rules/prefer-immutable-types/ts/parameters/invalid.ts
  tests/rules/prefer-immutable-types/ts/return-types/invalid.ts
  tests/rules/prefer-immutable-types/ts/variables/invalid.ts
Due: prettier --write, eslint --fix, cspell --config=.cspell.json

docs: fix out of date options
  docs/rules/prefer-immutable-types.md
Due: prettier --write, cspell --config=.cspell.json

fix(prefer-immutable-types): improve the fixer
  docs/rules/prefer-immutable-types.md
  src/rules/prefer-immutable-types.ts
  tests/rules/prefer-immutable-types/ts/parameters/invalid.ts
Due: prettier --write, eslint --fix, cspell --config=.cspell.json

docs: improve ReadonlyDeep fixer example regex
  docs/rules/prefer-immutable-types.md
Due: prettier --write, cspell --config=.cspell.json

style: update code style/linting
  .eslintrc.json
  ava.config.ts
  cz-adapter/options.ts
  package.json
  src/common/ignore-options.ts
  src/configs/off.ts
  src/rules/functional-parameters.ts
  src/rules/immutable-data.ts
  src/rules/no-conditional-statements.ts
  src/rules/prefer-immutable-types.ts
  src/rules/prefer-tacit.ts
  src/util/rule.ts
  src/util/tree.ts
  src/util/typeguard.ts
  tests/configs.test.ts
  tests/tsconfig.json
  tsconfig.base.json
  typings/es.d.ts
  yarn.lock
Due: prettier --write, eslint --fix, cspell --config=.cspell.json

ci: fix running test for TS 4.0.2
  .github/workflows/ci.yml
Due: prettier --write

feat(readonly-type): create rule
  README.md
  docs/rules/readonly-type.md
  src/configs/all.ts
  src/configs/stylistic.ts
  src/rules/index.ts
  src/rules/readonly-type.ts
  src/util/tree.ts
  tests/rules/prefer-immutable-types/ts/variables/valid.ts
  tests/rules/readonly-type/index.test.ts
  tests/rules/readonly-type/ts/index.ts
  tests/rules/readonly-type/ts/invalid.ts
  tests/rules/readonly-type/ts/valid.ts
Due: prettier --write, eslint --fix, cspell --config=.cspell.json

chore: bump deps
  package.json
  yarn.lock
Due: prettier --write

style: update
  src/rules/immutable-data.ts
  src/rules/no-conditional-statements.ts
  src/rules/prefer-immutable-types.ts
  src/settings/immutability.ts
  src/util/misc.ts
Due: prettier --write, eslint --fix, cspell --config=.cspell.json

fix: drop dependency on tsutils
  .eslintrc.json
  GETTING_STARTED.md
  package.json
  src/rules/no-conditional-statements.ts
  src/util/conditional-imports/tsutils.ts
  src/util/rule.ts
  src/util/tsutils.ts
Due: prettier --write, eslint --fix, cspell --config=.cspell.json

ci: only install semantic release when needed
  .github/workflows/release.yml
  package.json
Due: prettier --write

docs: add pnpm install details
  GETTING_STARTED.md
Due: prettier --write, cspell --config=.cspell.json

chore: run renovate monthly
  .github/renovate.json
Due: prettier --write

feat(type-declaration-immutability): add fixer support
  README.md
  docs/rules/type-declaration-immutability.md
  src/configs/recommended.ts
  src/rules/type-declaration-immutability.ts
  tests/rules/type-declaration-immutability/ts/invalid.ts
Due: prettier --write, eslint --fix, cspell --config=.cspell.json

refactor(prefer-immutable-types): reorder functions
  src/rules/prefer-immutable-types.ts
Due: prettier --write, eslint --fix, cspell --config=.cspell.json

build!: bump minimum supported version of node to 16.10
  .github/workflows/ci.yml
  .nvmrc
  package.json
  yarn.lock
Due: prettier --write

feat(prefer-immutable-types): create rule
  src/configs/all.ts
  src/configs/no-mutations.ts
  src/rules/index.ts
  src/rules/prefer-immutable-parameter-types.ts
  tests/rules/prefer-immutable-parameter-types/index.test.ts
  tests/rules/prefer-immutable-parameter-types/ts/index.ts
  tests/rules/prefer-immutable-parameter-types/ts/invalid.ts
  tests/rules/prefer-immutable-parameter-types/ts/valid.ts
Due: prettier --write, eslint --fix, cspell --config=.cspell.json

build!: bump minimum supported version of TypeScript to 4.0.2
  package.json
  yarn.lock
Due: prettier --write

feat(type-declaration-immutability): create rule
  package.json
  src/configs/all.ts
  src/configs/no-mutations.ts
  src/rules/index.ts
  src/rules/type-declaration-immutability.ts
  src/settings/immutability.ts
  src/settings/index.ts
  src/util/node-types.ts
  src/util/rule.ts
  src/util/typeguard.ts
  tests/helpers/util.ts
  tests/rules/type-declaration-immutability/index.test.ts
  tests/rules/type-declaration-immutability/ts/index.ts
  tests/rules/type-declaration-immutability/ts/invalid.ts
  tests/rules/type-declaration-immutability/ts/valid.ts
  tests/rules/work.test.ts
  tsconfig.base.json
  yarn.lock
Due: prettier --write, eslint --fix, cspell --config=.cspell.json

feat(prefer-readonly-type): deprecated this rule
  README.md
  docs/rules/prefer-readonly-type.md
  src/configs/all.ts
  src/configs/no-mutations.ts
  src/rules/prefer-readonly-type.ts
Due: prettier --write, eslint --fix, cspell --config=.cspell.json

docs: document new rules
  .eslintrc.json
  README.md
  docs/rules/prefer-immutable-parameter-types.md
  docs/rules/settings/immutability.md
  docs/rules/type-declaration-immutability.md
Due: prettier --write, cspell --config=.cspell.json

chore: update default rule to import for the work test file
  tests/rules/work.test.ts
Due: prettier --write, eslint --fix, cspell --config=.cspell.json

feat(no-method-signature)!: rename to `prefer-property-signatures` & move it to `stylistic` ruleset
  README.md
  docs/rules/no-method-signature.md
  src/configs/all.ts
  src/configs/no-mutations.ts
  src/configs/stylistic.ts
  src/rules/index.ts
  src/rules/prefer-property-signatures.ts
  tests/rules/prefer-property-signatures/index.test.ts
  tests/rules/prefer-property-signatures/ts/index.ts
  tests/rules/prefer-property-signatures/ts/invalid.ts
  tests/rules/prefer-property-signatures/ts/valid.ts
Due: prettier --write, eslint --fix, cspell --config=.cspell.json

style: disable prefer-readonly-parameter-types
  .eslintrc.json
  src/rules/prefer-tacit.ts
  src/util/typeguard.ts
Due: prettier --write, eslint --fix, cspell --config=.cspell.json

refactor: rename ruleset files
  src/configs/lite.ts
  src/configs/recommended.ts
  src/index.ts
  tests/configs.test.ts
Due: prettier --write, eslint --fix, cspell --config=.cspell.json

feat!: split `external-recommended` rulesets into vanilla and typescript variants
  src/configs/external-recommended.ts
  src/configs/external-typescript-recommended.ts
  src/configs/external-vanilla-recommended.ts
  src/index.ts
Due: prettier --write, eslint --fix, cspell --config=.cspell.json

feat!: remove `@typescript-eslint/prefer-readonly-parameter-types` from `external-recommended`
  README.md
  src/configs/external-recommended.ts
Due: prettier --write, eslint --fix, cspell --config=.cspell.json

feat!: update ruleset configurations
  README.md
  src/configs/all.ts
  src/configs/currying.ts
  src/configs/deprecated.ts
  src/configs/lite.ts
  src/configs/no-exceptions.ts
  src/configs/no-mutations.ts
  src/configs/no-object-orientation.ts
  src/configs/no-statements.ts
  src/configs/off.ts
  src/configs/recommended.ts
  src/configs/stylistic.ts
  tests/configs.test.ts
  tests/index.test.ts
Due: prettier --write, eslint --fix, cspell --config=.cspell.json

feat!: add new strict ruleset and reduce strictness of the recommended ruleset
  src/configs/recommended.ts
  src/configs/strict.ts
  src/index.ts
  tests/configs.test.ts
Due: prettier --write, eslint --fix, cspell --config=.cspell.json

style: update linting
  .eslintrc.json
  .vscode/settings.json
  package.json
  scripts/compile-tests.mts
  scripts/tsconfig.json
  src/common/ignore-options.ts
  src/rules/functional-parameters.ts
  src/rules/no-conditional-statement.ts
  src/util/rule.ts
  src/util/typeguard.ts
  tests/common/ignore-options.test.ts
  tests/helpers/configs.ts
  tests/index.test.ts
  tests/rules/index.test.ts
  tsconfig.base.json
  typings/es.d.ts
  yarn.lock
Due: prettier --write, eslint --fix, cspell --config=.cspell.json

fixup: update ruleset configurations
  src/configs/lite.ts
  src/configs/recommended.ts
  src/rules/prefer-immutable-parameter-types.ts
Due: prettier --write, eslint --fix, cspell --config=.cspell.json

feat!: rename ruleset `no-object-orientation` to `no-other-paradigms`
  src/configs/no-other-paradigms.ts
  src/configs/strict.ts
  src/index.ts
  tests/configs.test.ts
Due: prettier --write, eslint --fix, cspell --config=.cspell.json

chore: remove "pre" scripts
  package.json
Due: prettier --write

refactor: remove useless override
  src/configs/lite.ts
Due: prettier --write, eslint --fix, cspell --config=.cspell.json

Path conditions:
  prettier --write: ((any of: ./**/*.{json,jsonc,yml}) or (any of: ./**/*.ts)) or (any of: ./**/*.md)
  eslint --fix: any of: ./**/*.ts
  cspell --config=.cspell.json: (any of: ./**/*.ts) or (any of: ./**/*.md)
