Repository eslint-functional/eslint-plugin-functional: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix, cspell --config=.cspell.json, prettier --ignore-unknown --write, cspell, markdownlint --config=.markdownlint.json --ignore-path=.markdownlintignore

chore(release): 6.1.1 [skip ci]
  CHANGELOG.md
Due: prettier --write, cspell --config=.cspell.json, prettier --ignore-unknown --write, cspell, markdownlint --config=.markdownlint.json --ignore-path=.markdownlintignore

Notes added by 'git notes add'
  4783bcbae07e9493899d55ce273366b06a0db119
Due: none

docs: fix eslint docs
  README.md
  docs/rules/functional-parameters.md
  docs/rules/immutable-data.md
  docs/rules/no-classes.md
  docs/rules/no-conditional-statements.md
  docs/rules/no-expression-statements.md
  docs/rules/no-let.md
  docs/rules/no-loop-statements.md
  docs/rules/no-mixed-types.md
  docs/rules/no-promise-reject.md
  docs/rules/no-return-void.md
  docs/rules/no-this-expressions.md
  docs/rules/no-throw-statements.md
  docs/rules/no-try-statements.md
  docs/rules/prefer-immutable-types.md
  docs/rules/prefer-property-signatures.md
  docs/rules/prefer-readonly-type.md
  docs/rules/prefer-tacit.md
  docs/rules/readonly-type.md
  docs/rules/type-declaration-immutability.md
  eslint-doc-generator.config.ts
Due: prettier --write, eslint --fix, cspell --config=.cspell.json, prettier --ignore-unknown --write, cspell, markdownlint --config=.markdownlint.json --ignore-path=.markdownlintignore

ci: fix release replacements
  .releaserc.yml
Due: prettier --write, prettier --ignore-unknown --write

chore(release): 6.2.0-next.1 [skip ci]
  CHANGELOG.md
Due: prettier --write, cspell --config=.cspell.json, prettier --ignore-unknown --write, cspell, markdownlint --config=.markdownlint.json --ignore-path=.markdownlintignore

Notes added by 'git notes add'
  8bfdae654a0a713b07fe31c1a31bf1a05d43e54f
Due: none

fix: build types
  .releaserc.yml
  package.json
  tsconfig.build.json
Due: prettier --write, prettier --ignore-unknown --write

fix: improve types
  src/index.ts
Due: prettier --write, eslint --fix, cspell --config=.cspell.json, prettier --ignore-unknown --write, cspell

chore(release): 6.2.0-next.2 [skip ci]
  CHANGELOG.md
Due: prettier --write, cspell --config=.cspell.json, prettier --ignore-unknown --write, cspell, markdownlint --config=.markdownlint.json --ignore-path=.markdownlintignore

Notes added by 'git notes add'
  42a6299c4d8b05a8d07623f1be4b8a4d71cb7f9b
Due: none

feat: move flat configs to new "flat" subpackage
  .eslintrc.json
  GETTING_STARTED.md
  README.md
  knip.jsonc
  package.json
  rollup.config.ts
  src/classic.ts
  src/flat.ts
  src/index.ts
  tests/index.test.ts
  tsconfig.base.json
Due: prettier --write, eslint --fix, cspell --config=.cspell.json, prettier --ignore-unknown --write, cspell, markdownlint --config=.markdownlint.json --ignore-path=.markdownlintignore

build: autofix eslint docs
  .lintstagedrc.yml
Due: prettier --write, prettier --ignore-unknown --write

ci: fix release
  .releaserc.yml
Due: prettier --write, prettier --ignore-unknown --write

chore(release): 6.2.0-next.3 [skip ci]
  CHANGELOG.md
Due: prettier --write, cspell --config=.cspell.json, prettier --ignore-unknown --write, cspell, markdownlint --config=.markdownlint.json --ignore-path=.markdownlintignore

Notes added by 'git notes add'
  72c6f67b43bb19dbb88c98d408c60b63cb0f088d
Due: none

build: update deps
  package.json
  pnpm-lock.yaml
Due: prettier --write, prettier --ignore-unknown --write

fix(type-declaration-immutability): some (hopefully all) maximum call stack size exceeded errors
  package.json
  pnpm-lock.yaml
Due: prettier --write, prettier --ignore-unknown --write

build: fix type checking
  src/rules/functional-parameters.ts
  src/rules/immutable-data.ts
  src/rules/no-classes.ts
  src/rules/no-conditional-statements.ts
  src/rules/no-expression-statements.ts
  src/rules/no-let.ts
  src/rules/no-loop-statements.ts
  src/rules/no-mixed-types.ts
  src/rules/no-promise-reject.ts
  src/rules/no-return-void.ts
  src/rules/no-this-expressions.ts
  src/rules/no-throw-statements.ts
  src/rules/no-try-statements.ts
  src/rules/prefer-immutable-types.ts
  src/rules/prefer-property-signatures.ts
  src/rules/prefer-readonly-type.ts
  src/rules/prefer-tacit.ts
  src/rules/readonly-type.ts
  src/rules/type-declaration-immutability.ts
  src/utils/rule.ts
Due: prettier --write, eslint --fix, cspell --config=.cspell.json, prettier --ignore-unknown --write, cspell

build: update is-immutable-type
  package.json
  pnpm-lock.yaml
Due: prettier --write, prettier --ignore-unknown --write

ci: add lint packages as a requirement of releases
  .github/workflows/release.yml
Due: prettier --write, prettier --ignore-unknown --write

chore: fix type errors
  tests/helpers/testers.ts
  tests/helpers/util.ts
Due: prettier --write, eslint --fix, cspell --config=.cspell.json, prettier --ignore-unknown --write, cspell

chore(release): 6.2.0 [skip ci]
  CHANGELOG.md
Due: prettier --write, cspell --config=.cspell.json, prettier --ignore-unknown --write, cspell, markdownlint --config=.markdownlint.json --ignore-path=.markdownlintignore

Notes added by 'git notes add'
  b5c9b2586312106e526457af2275ad678df4865a
Due: none

refactor: use conditional ts-api-utils
  src/rules/no-expression-statements.ts
Due: prettier --write, eslint --fix, cspell --config=.cspell.json, prettier --ignore-unknown --write, cspell

fix: esm conditional imports
  rollup.config.ts
  src/utils/conditional-imports/cjs/ts-api-utils.ts
  src/utils/conditional-imports/cjs/typescript.ts
  src/utils/conditional-imports/esm/ts-api-utils.ts
  src/utils/conditional-imports/esm/typescript.ts
  tsconfig.base.json
Due: prettier --write, eslint --fix, cspell --config=.cspell.json, prettier --ignore-unknown --write, cspell

fix: improve typing exposed for flat configs
  src/utils/rule.ts
  tests/helpers/testers.ts
  tests/helpers/util.ts
Due: prettier --write, eslint --fix, cspell --config=.cspell.json, prettier --ignore-unknown --write, cspell

chore: ignore esm conditional import files - only used during build
  knip.jsonc
Due: prettier --write

fix: type errors
  src/rules/no-expression-statements.ts
  src/utils/rule.ts
  tests/helpers/util.ts
Due: prettier --write, eslint --fix, cspell --config=.cspell.json, prettier --ignore-unknown --write, cspell

chore(release): 6.2.1 [skip ci]
  CHANGELOG.md
Due: prettier --write, cspell --config=.cspell.json, prettier --ignore-unknown --write, cspell, markdownlint --config=.markdownlint.json --ignore-path=.markdownlintignore

Notes added by 'git notes add'
  1c1f086435a80033b730f7ed65343e99d64347d1
Due: none

fix(immutable-data): ignore casting when evaluating the expressions
  src/rules/immutable-data.ts
  src/utils/misc.ts
  src/utils/type-guards.ts
  tests/rules/immutable-data/ts/array/invalid.ts
  tests/rules/immutable-data/ts/array/valid.ts
  tests/rules/immutable-data/ts/object/invalid.ts
  tests/rules/immutable-data/ts/object/valid.ts
Due: prettier --write, eslint --fix, cspell --config=.cspell.json, prettier --ignore-unknown --write, cspell

fix(immutable-data): ignore casting when evaluating the expressions (#792)
  src/rules/immutable-data.ts
  src/utils/misc.ts
  src/utils/type-guards.ts
  tests/rules/immutable-data/ts/array/invalid.ts
  tests/rules/immutable-data/ts/array/valid.ts
  tests/rules/immutable-data/ts/object/invalid.ts
  tests/rules/immutable-data/ts/object/valid.ts
Due: prettier --write, eslint --fix, cspell --config=.cspell.json, prettier --ignore-unknown --write, cspell

chore(release): 6.2.2 [skip ci]
  CHANGELOG.md
Due: prettier --write, cspell --config=.cspell.json, prettier --ignore-unknown --write, cspell, markdownlint --config=.markdownlint.json --ignore-path=.markdownlintignore

Notes added by 'git notes add'
  fc4aaccd3f4bfb15a53c0143d44118d4759e8127
Due: none

fix(no-mixed-types): handle more than just property signatures, check the type of type references
  docs/rules/no-mixed-types.md
  src/rules/no-mixed-types.ts
  src/utils/type-guards.ts
  tests/rules/no-mixed-type/ts/invalid.ts
  tests/rules/no-mixed-type/ts/valid.ts
Due: prettier --write, eslint --fix, cspell --config=.cspell.json, prettier --ignore-unknown --write, cspell, markdownlint --config=.markdownlint.json --ignore-path=.markdownlintignore

fix(no-mixed-types): handle more than just property signatures, check the type of type references (#793)
  docs/rules/no-mixed-types.md
  src/rules/no-mixed-types.ts
  src/utils/type-guards.ts
  tests/rules/no-mixed-type/ts/invalid.ts
  tests/rules/no-mixed-type/ts/valid.ts
Due: prettier --write, eslint --fix, cspell --config=.cspell.json, prettier --ignore-unknown --write, cspell, markdownlint --config=.markdownlint.json --ignore-path=.markdownlintignore

Path conditions:
  prettier --write: ((any of: ./**/*.{json,jsonc,yml}) or (any of: ./**/*.ts)) or (any of: ./**/*.md)
  eslint --fix: (any of: ./**/*.ts) or (any of: *.ts)
  cspell --config=.cspell.json: (any of: ./**/*.ts) or (any of: ./**/*.md)
  prettier --ignore-unknown --write: ((any of: *.{json,yml}) or (any of: *.ts)) or (any of: *.md)
  cspell: (any of: *.ts) or (any of: *.md)
  markdownlint --config=.markdownlint.json --ignore-path=.markdownlintignore: any of: *.md
