Repository eslint-functional/eslint-plugin-functional: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix, cspell --config=.cspell.json, cspell lint --no-progress --show-suggestions --show-context --no-must-find-files --dot, markdownlint-cli2 --fix, pnpm dedupe && :

build: maintenance update (#1034)
  .github/renovate.json
  .github/workflows/lint-knip.yml
  .github/workflows/release.yml
  .vscode/launch.json
  cspell.config.yml
  knip.jsonc
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
  project-dictionary.txt
  rollup.config.ts
  src/tsconfig.json
  tsconfig.json
Due: prettier --write, eslint --fix, cspell --config=.cspell.json, cspell lint --no-progress --show-suggestions --show-context --no-must-find-files --dot, pnpm dedupe && :

chore: re-enable comment rules
  eslint.config.js
Due: none

docs: remove the disableTypeChecked config from the configs table
  README.md
  docs/rules/functional-parameters.md
  docs/rules/immutable-data.md
  docs/rules/no-conditional-statements.md
  docs/rules/no-expression-statements.md
  docs/rules/no-mixed-types.md
  docs/rules/no-return-void.md
  docs/rules/no-throw-statements.md
  docs/rules/prefer-immutable-types.md
  docs/rules/prefer-property-signatures.md
  docs/rules/prefer-readonly-type.md
  docs/rules/prefer-tacit.md
  docs/rules/readonly-type.md
  docs/rules/type-declaration-immutability.md
  eslint-doc-generator.config.ts
Due: prettier --write, eslint --fix, cspell --config=.cspell.json, cspell lint --no-progress --show-suggestions --show-context --no-must-find-files --dot, markdownlint-cli2 --fix

docs: remove the disableTypeChecked config from the configs table (#1038)
  README.md
  docs/rules/functional-parameters.md
  docs/rules/immutable-data.md
  docs/rules/no-conditional-statements.md
  docs/rules/no-expression-statements.md
  docs/rules/no-mixed-types.md
  docs/rules/no-return-void.md
  docs/rules/no-throw-statements.md
  docs/rules/prefer-immutable-types.md
  docs/rules/prefer-property-signatures.md
  docs/rules/prefer-readonly-type.md
  docs/rules/prefer-tacit.md
  docs/rules/readonly-type.md
  docs/rules/type-declaration-immutability.md
  eslint-doc-generator.config.ts
Due: prettier --write, eslint --fix, cspell --config=.cspell.json, cspell lint --no-progress --show-suggestions --show-context --no-must-find-files --dot, markdownlint-cli2 --fix

fix: let user immutability overrides win over defaults
  docs/rules/settings/immutability.md
  src/settings/immutability.ts
Due: prettier --write, eslint --fix, cspell --config=.cspell.json, cspell lint --no-progress --show-suggestions --show-context --no-must-find-files --dot, markdownlint-cli2 --fix

fix: let user immutability overrides win over defaults (#1060)
  docs/rules/settings/immutability.md
  src/settings/immutability.ts
Due: prettier --write, eslint --fix, cspell --config=.cspell.json, cspell lint --no-progress --show-suggestions --show-context --no-must-find-files --dot, markdownlint-cli2 --fix

chore(release): 9.0.5 [skip ci]
  CHANGELOG.md
Due: prettier --write, eslint --fix, cspell --config=.cspell.json, cspell lint --no-progress --show-suggestions --show-context --no-must-find-files --dot, markdownlint-cli2 --fix

Notes added by 'git notes add'
  600a88d5c65b3be6a7bbd58382907518bedbf49a
Due: none

feat: add `ignoreTypePattern` to `type-declaration-immutability`
  docs/rules/type-declaration-immutability.md
  src/options/ignore.ts
  src/rules/type-declaration-immutability.ts
  tests/rules/__snapshots__/type-declaration-immutability.test.ts.snap
  tests/rules/type-declaration-immutability.test.ts
Due: prettier --write, eslint --fix, cspell --config=.cspell.json, cspell lint --no-progress --show-suggestions --show-context --no-must-find-files --dot, markdownlint-cli2 --fix

feat: add option `ignoreTypePattern` to `type-declaration-immutability` (#1070)
  docs/rules/type-declaration-immutability.md
  src/options/ignore.ts
  src/rules/type-declaration-immutability.ts
  tests/rules/__snapshots__/type-declaration-immutability.test.ts.snap
  tests/rules/type-declaration-immutability.test.ts
Due: prettier --write, eslint --fix, cspell --config=.cspell.json, cspell lint --no-progress --show-suggestions --show-context --no-must-find-files --dot, markdownlint-cli2 --fix

build!: drop node 18
  .github/workflows/test-js.yml
  package.json
  pnpm-lock.yaml
Due: prettier --write, eslint --fix, cspell lint --no-progress --show-suggestions --show-context --no-must-find-files --dot, pnpm dedupe && :

build!: drop node 18 (#1030)
  .github/workflows/test-js.yml
  package.json
  pnpm-lock.yaml
Due: prettier --write, eslint --fix, cspell lint --no-progress --show-suggestions --show-context --no-must-find-files --dot, pnpm dedupe && :

test: snapshot update
  tests/rules/__snapshots__/type-declaration-immutability.test.ts.snap
Due: none

feat: support ESLint 10 (#1028)
  package.json
  pnpm-lock.yaml
  tests/rules/__snapshots__/functional-parameters.test.ts.snap
  tests/rules/__snapshots__/no-class-inheritance.test.ts.snap
  tests/rules/__snapshots__/no-classes.test.ts.snap
  tests/rules/__snapshots__/no-conditional-statements.test.ts.snap
  tests/rules/__snapshots__/no-expression-statements.test.ts.snap
  tests/rules/__snapshots__/no-let.test.ts.snap
  tests/rules/__snapshots__/no-loop-statements.test.ts.snap
  tests/rules/__snapshots__/no-mixed-types.test.ts.snap
  tests/rules/__snapshots__/no-promise-reject.test.ts.snap
  tests/rules/__snapshots__/no-return-void.test.ts.snap
  tests/rules/__snapshots__/no-this-expressions.test.ts.snap
  tests/rules/__snapshots__/no-throw-statements.test.ts.snap
  tests/rules/__snapshots__/no-try-statements.test.ts.snap
  tests/rules/__snapshots__/prefer-property-signatures.test.ts.snap
  tests/rules/__snapshots__/prefer-readonly-type.test.ts.snap
  tests/rules/__snapshots__/prefer-tacit.test.ts.snap
  tests/rules/__snapshots__/type-declaration-immutability.test.ts.snap
  tests/rules/immutable-data/__snapshots__/array.test.ts.snap
  tests/rules/immutable-data/__snapshots__/map.test.ts.snap
  tests/rules/immutable-data/__snapshots__/object.test.ts.snap
  tests/rules/immutable-data/__snapshots__/set.test.ts.snap
  tests/rules/prefer-immutable-types/__snapshots__/parameters.test.ts.snap
  tests/rules/prefer-immutable-types/__snapshots__/return-types.test.ts.snap
  tests/rules/prefer-immutable-types/__snapshots__/variables.test.ts.snap
  tests/utils/configs.ts
Due: prettier --write, eslint --fix, cspell --config=.cspell.json, cspell lint --no-progress --show-suggestions --show-context --no-must-find-files --dot, pnpm dedupe && :

ci: use node version from .nvmrc if no version is specified
  .github/actions/prepare/action.yml
Due: prettier --write, eslint --fix, cspell lint --no-progress --show-suggestions --show-context --no-must-find-files --dot

chore(release): 10.0.0 [skip ci]
  CHANGELOG.md
Due: prettier --write, eslint --fix, cspell --config=.cspell.json, cspell lint --no-progress --show-suggestions --show-context --no-must-find-files --dot, markdownlint-cli2 --fix

Notes added by 'git notes add'
  25013744f40f9e745dc681fd0f2ae8d4367defb5
Due: none

fix(deps): update deepmerge-ts to ^8
  package.json
  pnpm-lock.yaml
Due: prettier --write, eslint --fix, cspell lint --no-progress --show-suggestions --show-context --no-must-find-files --dot, pnpm dedupe && :

fix(no-expression-statements): ignore awaited void calls when ignoreVoid is enabled
  src/rules/no-expression-statements.ts
  src/utils/type-guards.ts
  tests/rules/__snapshots__/no-expression-statements.test.ts.snap
  tests/rules/no-expression-statements.test.ts
Due: prettier --write, eslint --fix, cspell --config=.cspell.json

fix(no-expression-statements): ignore awaited void calls when ignoreVoid is enabled (#1103)
  src/rules/no-expression-statements.ts
  src/utils/type-guards.ts
  tests/rules/__snapshots__/no-expression-statements.test.ts.snap
  tests/rules/no-expression-statements.test.ts
Due: prettier --write, eslint --fix, cspell --config=.cspell.json

chore(release): 10.0.1 [skip ci]
  CHANGELOG.md
Due: prettier --write, eslint --fix, cspell --config=.cspell.json, cspell lint --no-progress --show-suggestions --show-context --no-must-find-files --dot, markdownlint-cli2 --fix

Notes added by 'git notes add'
  d7aa1dd4ae4ef804f3010a92d3e7b385153415d8
Due: none

fix(readonly-type): don't strip readonly from type literals nested in a Readonly type
  src/utils/tree.ts
  src/utils/type-guards.ts
  tests/rules/__snapshots__/prefer-property-signatures.test.ts.snap
  tests/rules/__snapshots__/readonly-type.test.ts.snap
  tests/rules/prefer-property-signatures.test.ts
  tests/rules/readonly-type.test.ts
Due: prettier --write, eslint --fix, cspell --config=.cspell.json

Path conditions:
  prettier --write: ((any of: ./**/*.{json,jsonc,yml}) or (any of: ./**/*.ts)) or (any of: ./**/*.md)
  eslint --fix: (any of: ./**/*.ts) or ((any of: *.{json,yml}) or (any of: *.md))
  cspell --config=.cspell.json: (any of: ./**/*.ts) or (any of: ./**/*.md)
  cspell lint --no-progress --show-suggestions --show-context --no-must-find-files --dot: (any of: *.{json,yml}) or (any of: *.md)
  markdownlint-cli2 --fix: any of: *.md
  pnpm dedupe && :: any of: pnpm-lock.yaml
