Repository eslint-functional/eslint-plugin-functional: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix, cspell --config=.cspell.json, prettier --ignore-unknown --write, cspell, markdownlint --config=.markdownlint.json --ignore-path=.markdownlintignore

chore(release): 6.2.3 [skip ci]
  CHANGELOG.md
Due: prettier --write, cspell --config=.cspell.json, prettier --ignore-unknown --write, cspell, markdownlint --config=.markdownlint.json --ignore-path=.markdownlintignore

Notes added by 'git notes add'
  f147c2e69f4d4512a484d68ddb0f05655e962630
Due: none

feat(immutable-data): add option for `ignoreNonConstDeclarations` to `treatParametersAsConst`
  docs/rules/immutable-data.md
  src/rules/immutable-data.ts
  src/utils/tree.ts
  tests/rules/immutable-data/ts/object/invalid.ts
  tests/rules/immutable-data/ts/object/valid.ts
Due: prettier --write, eslint --fix, cspell --config=.cspell.json, prettier --ignore-unknown --write, cspell, markdownlint --config=.markdownlint.json --ignore-path=.markdownlintignore

feat(immutable-data): add option for `ignoreNonConstDeclarations` to `treatParametersAsConst` (#794)
  docs/rules/immutable-data.md
  src/rules/immutable-data.ts
  src/utils/tree.ts
  tests/rules/immutable-data/ts/object/invalid.ts
  tests/rules/immutable-data/ts/object/valid.ts
Due: prettier --write, eslint --fix, cspell --config=.cspell.json, prettier --ignore-unknown --write, cspell, markdownlint --config=.markdownlint.json --ignore-path=.markdownlintignore

chore(release): 6.3.0 [skip ci]
  CHANGELOG.md
Due: prettier --write, cspell --config=.cspell.json, prettier --ignore-unknown --write, cspell, markdownlint --config=.markdownlint.json --ignore-path=.markdownlintignore

Notes added by 'git notes add'
  eef0893922b228bca351c2a04fb7117cab2660f4
Due: none

style: fix linting
  src/rules/functional-parameters.ts
  src/rules/immutable-data.ts
  src/rules/no-classes.ts
  src/rules/no-conditional-statements.ts
  src/rules/no-expression-statements.ts
  src/rules/no-let.ts
  src/rules/no-loop-statements.ts
  src/rules/no-mixed-types.ts
  src/rules/no-promise-reject.ts
  src/rules/no-return-void.ts
  src/rules/no-this-expressions.ts
  src/rules/no-throw-statements.ts
  src/rules/no-try-statements.ts
  src/rules/prefer-immutable-types.ts
  src/rules/prefer-property-signatures.ts
  src/rules/prefer-readonly-type.ts
  src/rules/prefer-tacit.ts
  src/rules/readonly-type.ts
  src/rules/type-declaration-immutability.ts
Due: prettier --write, eslint --fix, cspell --config=.cspell.json, prettier --ignore-unknown --write, cspell

ci: update what versions of node is tested
  .github/workflows/test-js.yml
Due: prettier --write, prettier --ignore-unknown --write

build!: update requried eslint version and change flat to be the default exports
  package.json
  pnpm-lock.yaml
  rollup.config.ts
Due: prettier --write, eslint --fix, cspell --config=.cspell.json, prettier --ignore-unknown --write, cspell

docs: update docs for eslint 9
  GETTING_STARTED.md
  README.md
Due: prettier --write, cspell --config=.cspell.json, prettier --ignore-unknown --write, cspell, markdownlint --config=.markdownlint.json --ignore-path=.markdownlintignore

docs: fix disable-type-checked config id
  README.md
Due: prettier --write, cspell --config=.cspell.json, prettier --ignore-unknown --write, cspell, markdownlint --config=.markdownlint.json --ignore-path=.markdownlintignore

chore: remove auto-fix that doesn't work most of the time
  .lintstagedrc.yml
Due: prettier --write, prettier --ignore-unknown --write

style: linting fix
  README.md
Due: prettier --write, cspell --config=.cspell.json, prettier --ignore-unknown --write, cspell, markdownlint --config=.markdownlint.json --ignore-path=.markdownlintignore

build: deps update
  package.json
  pnpm-lock.yaml
Due: prettier --write, prettier --ignore-unknown --write

fix: improve types for flat configs
  src/flat.ts
Due: prettier --write, eslint --fix, cspell --config=.cspell.json, prettier --ignore-unknown --write, cspell

build: refactor rollup config
  rollup.config.ts
Due: prettier --write, eslint --fix, cspell --config=.cspell.json, prettier --ignore-unknown --write, cspell

chore(release): 6.3.1 [skip ci]
  CHANGELOG.md
Due: prettier --write, cspell --config=.cspell.json, prettier --ignore-unknown --write, cspell, markdownlint --config=.markdownlint.json --ignore-path=.markdownlintignore

Notes added by 'git notes add'
  052191c52b074ccaf2059e9d9a442555395a42ba
Due: none

fix(readonly-type): empty object types should not trigger reports
  src/rules/readonly-type.ts
  tests/rules/readonly-type/ts/valid.ts
Due: prettier --write, eslint --fix, cspell --config=.cspell.json, prettier --ignore-unknown --write, cspell

chore(release): 6.3.2 [skip ci]
  CHANGELOG.md
Due: prettier --write, cspell --config=.cspell.json, prettier --ignore-unknown --write, cspell, markdownlint --config=.markdownlint.json --ignore-path=.markdownlintignore

Notes added by 'git notes add'
  065a1c762418a78ceaf4c62a9f8c9b0ac2632039
Due: none

feat(type-declaration-immutability): add support for in-editor suggestions
  README.md
  docs/rules/type-declaration-immutability.md
  src/rules/type-declaration-immutability.ts
Due: prettier --write, eslint --fix, cspell --config=.cspell.json, prettier --ignore-unknown --write, cspell, markdownlint --config=.markdownlint.json --ignore-path=.markdownlintignore

fix(type-declaration-immutability): replace fixer with suggestions for recommended and lite configs
  src/configs/recommended.ts
Due: prettier --write, eslint --fix, cspell --config=.cspell.json, prettier --ignore-unknown --write, cspell

chore(release): 6.4.0 [skip ci]
  CHANGELOG.md
Due: prettier --write, cspell --config=.cspell.json, prettier --ignore-unknown --write, cspell, markdownlint --config=.markdownlint.json --ignore-path=.markdownlintignore

Notes added by 'git notes add'
  b663919e17f9196e05033d41d5c961dfb7cd8e7a
Due: none

build: take into account the prettier config when programmatically using it
  eslint-doc-generator.config.ts
Due: prettier --write, eslint --fix, cspell --config=.cspell.json, prettier --ignore-unknown --write, cspell

build: add prettier-plugin-multiline-arrays
  .prettierrc.yml
  package.json
  pnpm-lock.yaml
Due: prettier --write, prettier --ignore-unknown --write

style: auto fixes
  src/rules/no-conditional-statements.ts
  src/utils/rule.ts
Due: prettier --write, eslint --fix, cspell --config=.cspell.json, prettier --ignore-unknown --write, cspell

style: remove dangling comma from json
  docs/rules/functional-parameters.md
Due: prettier --write, cspell --config=.cspell.json, prettier --ignore-unknown --write, cspell, markdownlint --config=.markdownlint.json --ignore-path=.markdownlintignore

build: remove eslint 8 build
  package.json
  rollup.config.ts
  src/classic.ts
  src/index.ts
  tests/index.test.ts
  tsconfig.base.json
Due: prettier --write, eslint --fix, cspell --config=.cspell.json, prettier --ignore-unknown --write, cspell

build: update for eslint 9
  .github/workflows/test-js.yml
  package.json
  pnpm-lock.yaml
Due: prettier --write, prettier --ignore-unknown --write

docs: update docs for eslint 9
  GETTING_STARTED.md
  README.md
  docs/rules/immutable-data.md
  docs/rules/no-classes.md
  docs/rules/no-conditional-statements.md
  docs/rules/no-expression-statements.md
  docs/rules/no-let.md
  docs/rules/no-loop-statements.md
  docs/rules/no-mixed-types.md
  docs/rules/no-return-void.md
  docs/rules/no-this-expressions.md
  docs/rules/no-throw-statements.md
  docs/rules/no-try-statements.md
  docs/rules/prefer-immutable-types.md
  docs/rules/prefer-property-signatures.md
  docs/rules/prefer-readonly-type.md
  docs/rules/prefer-tacit.md
  docs/rules/readonly-type.md
  docs/rules/type-declaration-immutability.md
Due: prettier --write, cspell --config=.cspell.json, prettier --ignore-unknown --write, cspell, markdownlint --config=.markdownlint.json --ignore-path=.markdownlintignore

build: use new eslint config
  .eslintrc.json
  eslint.config.js
  package.json
  pnpm-lock.yaml
Due: prettier --write, prettier --ignore-unknown --write

style: apply new linting styles
  GETTING_STARTED.md
  cz-adapter/engine.ts
  docs/rules/functional-parameters.md
  docs/rules/no-classes.md
  docs/rules/no-let.md
  docs/rules/prefer-property-signatures.md
  docs/rules/prefer-readonly-type.md
  docs/rules/settings/immutability.md
  docs/user-guide/migrating-from-tslint.md
  eslint.config.js
  src/configs/disable-type-checked.ts
  src/index.ts
  src/rules/functional-parameters.ts
  src/rules/immutable-data.ts
  src/rules/no-conditional-statements.ts
  src/rules/no-expression-statements.ts
  src/rules/no-let.ts
  src/rules/no-mixed-types.ts
  src/rules/no-return-void.ts
  src/rules/no-throw-statements.ts
  src/rules/no-try-statements.ts
  src/rules/prefer-immutable-types.ts
  src/rules/prefer-property-signatures.ts
  src/rules/prefer-readonly-type.ts
  src/rules/prefer-tacit.ts
  src/rules/readonly-type.ts
  src/rules/type-declaration-immutability.ts
  src/settings/immutability.ts
  src/utils/constants.ts
  src/utils/misc.ts
  src/utils/rule.ts
  src/utils/tree.ts
  tests/common/ignore-options.test.ts
  tests/configs.test.ts
  tests/helpers/RuleTester.ts
  tests/helpers/configs.ts
  tests/helpers/testers.ts
  tests/helpers/util.ts
  tests/rules/functional-parameters/es2015/valid.ts
Due: prettier --write, eslint --fix, cspell --config=.cspell.json, prettier --ignore-unknown --write, cspell, markdownlint --config=.markdownlint.json --ignore-path=.markdownlintignore

build: change order linting fixes are applied
  package.json
Due: prettier --write, prettier --ignore-unknown --write

build: update knip config
  knip.jsonc
Due: prettier --write

build: remove redundant linting tasks
  .github/workflows/lint-prettier.yml
  .github/workflows/release.yml
  .lintstagedrc.yml
  .vscode/settings.json
  package.json
Due: prettier --write, prettier --ignore-unknown --write

fix(prefer-tacit): handling functions that don't map to directly to an eslint node
  src/rules/prefer-tacit.ts
  src/utils/rule.ts
  tests/rules/prefer-tacit/ts/invalid.ts
Due: prettier --write, eslint --fix, cspell --config=.cspell.json, prettier --ignore-unknown --write, cspell

fix(prefer-tacit): handling functions that don't map to directly to an eslint node (#802)
  src/rules/prefer-tacit.ts
  src/utils/rule.ts
  tests/rules/prefer-tacit/ts/invalid.ts
Due: prettier --write, eslint --fix, cspell --config=.cspell.json, prettier --ignore-unknown --write, cspell

chore(release): 6.4.1 [skip ci]
  CHANGELOG.md
Due: prettier --write, cspell --config=.cspell.json, prettier --ignore-unknown --write, cspell, markdownlint --config=.markdownlint.json --ignore-path=.markdownlintignore

Path conditions:
  prettier --write: ((any of: ./**/*.{json,jsonc,yml}) or (any of: ./**/*.ts)) or (any of: ./**/*.md)
  eslint --fix: (any of: ./**/*.ts) or (any of: *.ts)
  cspell --config=.cspell.json: (any of: ./**/*.ts) or (any of: ./**/*.md)
  prettier --ignore-unknown --write: ((any of: *.{json,yml}) or (any of: *.ts)) or (any of: *.md)
  cspell: (any of: *.ts) or (any of: *.md)
  markdownlint --config=.markdownlint.json --ignore-path=.markdownlintignore: any of: *.md
