Repository eslint-functional/eslint-plugin-functional: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix, cspell --config=.cspell.json, cspell lint --no-progress --show-suggestions --show-context --no-must-find-files --dot, tsc-files -p tsconfig.build.json --noEmit, markdownlint --config=.markdownlint.json --ignore-path=.markdownlintignore, pnpm dedupe && :

Notes added by 'git notes add'
  58bb185a3316f23a4d1e535e760ee3b5165d7912
Due: none

feat: update is-immutable-type to v3.1.0
  package.json
  pnpm-lock.yaml
Due: prettier --write, eslint --fix, cspell lint --no-progress --show-suggestions --show-context --no-must-find-files --dot, pnpm dedupe && :

feat: update is-immutable-type to v3.1.0 (#806)
  package.json
  pnpm-lock.yaml
Due: prettier --write, eslint --fix, cspell lint --no-progress --show-suggestions --show-context --no-must-find-files --dot, pnpm dedupe && :

chore(release): 6.5.0 [skip ci]
  CHANGELOG.md
Due: prettier --write, eslint --fix, cspell --config=.cspell.json, cspell lint --no-progress --show-suggestions --show-context --no-must-find-files --dot, markdownlint --config=.markdownlint.json --ignore-path=.markdownlintignore

Notes added by 'git notes add'
  5d9fc6cdbf8732cedf208335b5b28f5aa157eaee
Due: none

feat(functional-parameters): allow overriding options based on where the function type is declared
  README.md
  docs/rules/functional-parameters.md
  package.json
  pnpm-lock.yaml
  src/rules/functional-parameters.ts
  src/utils/common-schemas.ts
  src/utils/tree.ts
  tests/rules/functional-parameters/es2015/valid.ts
  tests/rules/functional-parameters/ts/index.test.ts
  tests/rules/functional-parameters/ts/invalid.ts
  tests/rules/functional-parameters/ts/valid.ts
Due: prettier --write, eslint --fix, cspell --config=.cspell.json, cspell lint --no-progress --show-suggestions --show-context --no-must-find-files --dot, tsc-files -p tsconfig.build.json --noEmit, markdownlint --config=.markdownlint.json --ignore-path=.markdownlintignore, pnpm dedupe && :

feat(prefer-immutable-types): allow overriding options based on where the type is declared
  docs/rules/prefer-immutable-types.md
  src/options/index.ts
  src/options/overrides.ts
  src/rules/functional-parameters.ts
  src/rules/prefer-immutable-types.ts
  tests/rules/prefer-immutable-types/ts/parameters/invalid.ts
  tests/rules/prefer-immutable-types/ts/parameters/valid.ts
Due: prettier --write, eslint --fix, cspell --config=.cspell.json, cspell lint --no-progress --show-suggestions --show-context --no-must-find-files --dot, tsc-files -p tsconfig.build.json --noEmit, markdownlint --config=.markdownlint.json --ignore-path=.markdownlintignore

feat(perfer-tacit): allow specifying which type need binds
  src/rules/prefer-tacit.ts
  src/utils/misc.ts
  src/utils/rule.ts
  tests/rules/prefer-tacit/ts/index.test.ts
Due: prettier --write, eslint --fix, cspell --config=.cspell.json, cspell lint --no-progress --show-suggestions --show-context --no-must-find-files --dot, tsc-files -p tsconfig.build.json --noEmit

fix(prefer-tacit): don't check member functions by default
  docs/rules/prefer-tacit.md
  src/rules/prefer-tacit.ts
  tests/rules/prefer-tacit/ts/invalid.ts
  tests/rules/prefer-tacit/ts/valid.ts
Due: prettier --write, eslint --fix, cspell --config=.cspell.json, cspell lint --no-progress --show-suggestions --show-context --no-must-find-files --dot, tsc-files -p tsconfig.build.json --noEmit, markdownlint --config=.markdownlint.json --ignore-path=.markdownlintignore

fix(prefer-tacit): don't check member functions by default (#808)
  docs/rules/prefer-tacit.md
  src/rules/prefer-tacit.ts
  tests/rules/prefer-tacit/ts/invalid.ts
  tests/rules/prefer-tacit/ts/valid.ts
Due: prettier --write, eslint --fix, cspell --config=.cspell.json, cspell lint --no-progress --show-suggestions --show-context --no-must-find-files --dot, tsc-files -p tsconfig.build.json --noEmit, markdownlint --config=.markdownlint.json --ignore-path=.markdownlintignore

style: linting fix
  docs/rules/prefer-tacit.md
Due: prettier --write, eslint --fix, cspell --config=.cspell.json, cspell lint --no-progress --show-suggestions --show-context --no-must-find-files --dot, markdownlint --config=.markdownlint.json --ignore-path=.markdownlintignore

chore(release): 6.5.1 [skip ci]
  CHANGELOG.md
Due: prettier --write, eslint --fix, cspell --config=.cspell.json, cspell lint --no-progress --show-suggestions --show-context --no-must-find-files --dot, markdownlint --config=.markdownlint.json --ignore-path=.markdownlintignore

Notes added by 'git notes add'
  780b960b41354d7f309cce3670270ed51c964a3a
Due: none

ci: use node v20 for ci (#836)
  .github/actions/prepare/action.yml
Due: prettier --write, eslint --fix, cspell lint --no-progress --show-suggestions --show-context --no-must-find-files --dot

fix: special handling of identifiers no longer required
  src/utils/rule.ts
Due: prettier --write, eslint --fix, cspell --config=.cspell.json, cspell lint --no-progress --show-suggestions --show-context --no-must-find-files --dot, tsc-files -p tsconfig.build.json --noEmit

test: improve ReadonlyDeep pattern regex (#835)
  tests/rules/prefer-immutable-types/ts/parameters/invalid.ts
Due: prettier --write, eslint --fix, cspell --config=.cspell.json, cspell lint --no-progress --show-suggestions --show-context --no-must-find-files --dot, tsc-files -p tsconfig.build.json --noEmit

chore(release): 6.5.2 [skip ci]
  CHANGELOG.md
Due: prettier --write, eslint --fix, cspell --config=.cspell.json, cspell lint --no-progress --show-suggestions --show-context --no-must-find-files --dot, markdownlint --config=.markdownlint.json --ignore-path=.markdownlintignore

Notes added by 'git notes add'
  3ed5aa6efdd7933e45f10c69c1b70c3737a3d338
Due: none

feat(prefer-immutable-types): allow for changing suggestion messages (#828)
  docs/rules/prefer-immutable-types.md
  src/rules/prefer-immutable-types.ts
  tests/rules/prefer-immutable-types/ts/parameters/invalid.ts
  tests/rules/prefer-immutable-types/ts/return-types/invalid.ts
  tests/rules/prefer-immutable-types/ts/variables/invalid.ts
Due: prettier --write, eslint --fix, cspell --config=.cspell.json, cspell lint --no-progress --show-suggestions --show-context --no-must-find-files --dot, tsc-files -p tsconfig.build.json --noEmit, markdownlint --config=.markdownlint.json --ignore-path=.markdownlintignore

chore(release): 6.6.0 [skip ci]
  CHANGELOG.md
Due: prettier --write, eslint --fix, cspell --config=.cspell.json, cspell lint --no-progress --show-suggestions --show-context --no-must-find-files --dot, markdownlint --config=.markdownlint.json --ignore-path=.markdownlintignore

Notes added by 'git notes add'
  409be73e950fa0c888b607574600de45094a818a
Due: none

part: set up overridable options
  package.json
  pnpm-lock.yaml
  src/options/index.ts
  src/options/overrides.ts
  src/utils/rule.ts
  src/utils/schemas.ts
  src/utils/type-specifier.ts
Due: prettier --write, eslint --fix, cspell --config=.cspell.json, cspell lint --no-progress --show-suggestions --show-context --no-must-find-files --dot, tsc-files -p tsconfig.build.json --noEmit, pnpm dedupe && :

feat(functional-parameters): allows applying overrides to the options based on the function's type
  README.md
  docs/rules/functional-parameters.md
  src/rules/functional-parameters.ts
  src/utils/schemas.ts
  src/utils/tree.ts
  tests/rules/functional-parameters/ts/index.test.ts
  tests/rules/functional-parameters/ts/invalid.ts
  tests/rules/functional-parameters/ts/valid.ts
Due: prettier --write, eslint --fix, cspell --config=.cspell.json, cspell lint --no-progress --show-suggestions --show-context --no-must-find-files --dot, tsc-files -p tsconfig.build.json --noEmit, markdownlint --config=.markdownlint.json --ignore-path=.markdownlintignore

feat(functional-parameters): change options in recommended and lite configs
  src/configs/recommended.ts
Due: prettier --write, eslint --fix, cspell --config=.cspell.json, cspell lint --no-progress --show-suggestions --show-context --no-must-find-files --dot, tsc-files -p tsconfig.build.json --noEmit

feat(prefer-immutable-types): change the options in recommeneded and lite configs
  src/configs/lite.ts
  src/configs/recommended.ts
Due: prettier --write, eslint --fix, cspell --config=.cspell.json, cspell lint --no-progress --show-suggestions --show-context --no-must-find-files --dot, tsc-files -p tsconfig.build.json --noEmit

feat(prefer-immutable-types): allows for applying overrides to the options based on the type
  docs/rules/prefer-immutable-types.md
  eslint.config.js
  src/rules/prefer-immutable-types.ts
  tests/rules/prefer-immutable-types/ts/parameters/invalid.ts
  tests/rules/prefer-immutable-types/ts/parameters/valid.ts
Due: prettier --write, eslint --fix, cspell --config=.cspell.json, cspell lint --no-progress --show-suggestions --show-context --no-must-find-files --dot, tsc-files -p tsconfig.build.json --noEmit, markdownlint --config=.markdownlint.json --ignore-path=.markdownlintignore

feat(no-throw-statements)!: replace option `allowInAsyncFunctions` with `allowToRejectPromises`
  docs/rules/no-throw-statements.md
  src/configs/recommended.ts
  src/rules/no-throw-statements.ts
  src/utils/tree.ts
  src/utils/type-guards.ts
  tests/rules/no-throw-statement/es2016/invalid.ts
  tests/rules/no-throw-statement/ts/index.test.ts
  tests/rules/no-throw-statement/ts/invalid.ts
  tests/rules/no-throw-statement/ts/valid.ts
Due: prettier --write, eslint --fix, cspell --config=.cspell.json, cspell lint --no-progress --show-suggestions --show-context --no-must-find-files --dot, tsc-files -p tsconfig.build.json --noEmit, markdownlint --config=.markdownlint.json --ignore-path=.markdownlintignore

feat(immutable-data): allows for applying overrides to the options based on the root object's type
  docs/rules/immutable-data.md
  src/rules/immutable-data.ts
Due: prettier --write, eslint --fix, cspell --config=.cspell.json, cspell lint --no-progress --show-suggestions --show-context --no-must-find-files --dot, tsc-files -p tsconfig.build.json --noEmit, markdownlint --config=.markdownlint.json --ignore-path=.markdownlintignore

build: pin eslint to v8
  .github/renovate.json
  package.json
  pnpm-lock.yaml
Due: prettier --write, eslint --fix, cspell lint --no-progress --show-suggestions --show-context --no-must-find-files --dot, pnpm dedupe && :

chore(release): 6.6.1 [skip ci]
  CHANGELOG.md
Due: prettier --write, eslint --fix, cspell --config=.cspell.json, cspell lint --no-progress --show-suggestions --show-context --no-must-find-files --dot, markdownlint --config=.markdownlint.json --ignore-path=.markdownlintignore

Notes added by 'git notes add'
  63c4488412f555448b319a0867b8433f54b7a8ce
Due: none

fix(no-conditional-statements): allow continue and break statements with labels to be considered "returning" (#846)
  src/rules/no-conditional-statements.ts
  src/utils/type-guards.ts
Due: prettier --write, eslint --fix, cspell --config=.cspell.json, cspell lint --no-progress --show-suggestions --show-context --no-must-find-files --dot, tsc-files -p tsconfig.build.json --noEmit

fix(no-expression-statements): arrow functions cannot be self returning (#847)
  src/rules/no-expression-statements.ts
Due: prettier --write, eslint --fix, cspell --config=.cspell.json, cspell lint --no-progress --show-suggestions --show-context --no-must-find-files --dot, tsc-files -p tsconfig.build.json --noEmit

fix(no-promise-reject): new Promises and throw statements are now also checked (#848)
  docs/rules/no-promise-reject.md
  src/rules/no-promise-reject.ts
  src/utils/tree.ts
  src/utils/type-guards.ts
Due: prettier --write, eslint --fix, cspell --config=.cspell.json, cspell lint --no-progress --show-suggestions --show-context --no-must-find-files --dot, tsc-files -p tsconfig.build.json --noEmit, markdownlint --config=.markdownlint.json --ignore-path=.markdownlintignore

chore(release): 6.6.2 [skip ci]
  CHANGELOG.md
Due: prettier --write, eslint --fix, cspell --config=.cspell.json, cspell lint --no-progress --show-suggestions --show-context --no-must-find-files --dot, markdownlint --config=.markdownlint.json --ignore-path=.markdownlintignore

Notes added by 'git notes add'
  13e04cc6c4e5fec12f953dff0808e6a0425c74ff
Due: none

Path conditions:
  prettier --write: ((any of: ./**/*.{json,jsonc,yml}) or (any of: ./**/*.ts)) or (any of: ./**/*.md)
  eslint --fix: (any of: ./**/*.ts) or (((any of: *.{json,yml}) or (any of: *.ts)) or (any of: *.md))
  cspell --config=.cspell.json: (any of: ./**/*.ts) or (any of: ./**/*.md)
  cspell lint --no-progress --show-suggestions --show-context --no-must-find-files --dot: ((any of: *.{json,yml}) or (any of: *.ts)) or (any of: *.md)
  tsc-files -p tsconfig.build.json --noEmit: any of: *.ts
  markdownlint --config=.markdownlint.json --ignore-path=.markdownlintignore: any of: *.md
  pnpm dedupe && :: any of: pnpm-lock.yaml
