Repository eslint-functional/eslint-plugin-functional: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix, cspell --config=.cspell.json, cspell lint --no-progress --show-suggestions --show-context --no-must-find-files --dot, markdownlint-cli2 --fix, pnpm dedupe && :

.lintstagedrc:

{
  "./**/*.{json,jsonc,yml}": [
    "prettier --write"
  ],
  "./**/*.ts": [
    "prettier --write",
    "eslint --fix",
    "cspell --config=.cspell.json"
  ],
  "./**/*.md": [
    "prettier --write",
    "cspell --config=.cspell.json"
  ]
}

.lintstagedrc.yml:

"*.{json,yml}":
  - eslint --fix
  - cspell lint --no-progress --show-suggestions --show-context --no-must-find-files --dot

"*.?([cm])[jt]s?(x)":
  - eslint --fix
  - cspell lint --no-progress --show-suggestions --show-context --no-must-find-files --dot
  - tsc-files -p tsconfig.build.json --noEmit

"*.md":
  - markdownlint-cli2 --fix
  - eslint --fix
  - cspell lint --no-progress --show-suggestions --show-context --no-must-find-files --dot

pnpm-lock.yaml:
  - "pnpm dedupe && :"

test(no-class-inheritance): check interface and implements don't cause issues
  tests/rules/no-class-inheritance.test.ts
Due: prettier --write, eslint --fix, cspell --config=.cspell.json

Notes added by 'git notes add'
  f06238925bc7f91735ad1d528cc4fd4aac5d3e7e
Due: none

build: fix self dependency
  package.json
  pnpm-lock.yaml
Due: prettier --write, eslint --fix, cspell lint --no-progress --show-suggestions --show-context --no-must-find-files --dot, pnpm dedupe && :

chore(release): 7.1.0 [skip ci]
  CHANGELOG.md
Due: prettier --write, eslint --fix, cspell --config=.cspell.json, cspell lint --no-progress --show-suggestions --show-context --no-must-find-files --dot, markdownlint-cli2 --fix

Notes added by 'git notes add'
  4c2d5c0b81c7cf6bf5b460309fb5d9886861b427
Due: none

docs: fix config badges in readme
  README.md
Due: prettier --write, eslint --fix, cspell --config=.cspell.json, cspell lint --no-progress --show-suggestions --show-context --no-must-find-files --dot, markdownlint-cli2 --fix

docs: update @typescript-eslint links
  README.md
Due: prettier --write, eslint --fix, cspell --config=.cspell.json, cspell lint --no-progress --show-suggestions --show-context --no-must-find-files --dot, markdownlint-cli2 --fix

docs: fix up link
  README.md
Due: prettier --write, eslint --fix, cspell --config=.cspell.json, cspell lint --no-progress --show-suggestions --show-context --no-must-find-files --dot, markdownlint-cli2 --fix

docs: update typescript-eslint links (#892)
  README.md
Due: prettier --write, eslint --fix, cspell --config=.cspell.json, cspell lint --no-progress --show-suggestions --show-context --no-must-find-files --dot, markdownlint-cli2 --fix

feat(no-conditional-statements): add option `ignoreCodePattern` for ignoring if conditions (#909)
  docs/rules/no-conditional-statements.md
  src/rules/no-conditional-statements.ts
  tests/rules/no-conditional-statements.test.ts
Due: prettier --write, eslint --fix, cspell --config=.cspell.json, cspell lint --no-progress --show-suggestions --show-context --no-must-find-files --dot, markdownlint-cli2 --fix

chore(release): 7.2.0 [skip ci]
  CHANGELOG.md
Due: prettier --write, eslint --fix, cspell --config=.cspell.json, cspell lint --no-progress --show-suggestions --show-context --no-must-find-files --dot, markdownlint-cli2 --fix

Notes added by 'git notes add'
  7514e18dbb9cd8e9a2cae773e693b689d31b2608
Due: none

docs: fix examples being under wrong header
  docs/rules/prefer-immutable-types.md
Due: prettier --write, eslint --fix, cspell --config=.cspell.json, cspell lint --no-progress --show-suggestions --show-context --no-must-find-files --dot, markdownlint-cli2 --fix

chore(release): 7.2.1 [skip ci]
  CHANGELOG.md
Due: prettier --write, eslint --fix, cspell --config=.cspell.json, cspell lint --no-progress --show-suggestions --show-context --no-must-find-files --dot, markdownlint-cli2 --fix

Notes added by 'git notes add'
  50147a36f318cb233567b67937288a9bf0cf0b99
Due: none

build(deps): update deps
  .github/actions/prepare/action.yml
  eslint.config.js
  knip.jsonc
  package.json
  pnpm-lock.yaml
  src/rules/functional-parameters.ts
  src/rules/immutable-data.ts
  src/rules/no-class-inheritance.ts
  src/rules/no-classes.ts
  src/rules/no-conditional-statements.ts
  src/rules/no-expression-statements.ts
  src/rules/no-let.ts
  src/rules/no-loop-statements.ts
  src/rules/no-mixed-types.ts
  src/rules/no-promise-reject.ts
  src/rules/no-return-void.ts
  src/rules/no-this-expressions.ts
  src/rules/no-throw-statements.ts
  src/rules/no-try-statements.ts
  src/rules/prefer-immutable-types.ts
  src/rules/prefer-property-signatures.ts
  src/rules/prefer-readonly-type.ts
  src/rules/prefer-tacit.ts
  src/rules/readonly-type.ts
  src/rules/type-declaration-immutability.ts
  src/utils/rule.ts
Due: prettier --write, eslint --fix, cspell --config=.cspell.json, cspell lint --no-progress --show-suggestions --show-context --no-must-find-files --dot, pnpm dedupe && :

build(deps): update deps (#920)
  .github/actions/prepare/action.yml
  eslint.config.js
  knip.jsonc
  package.json
  pnpm-lock.yaml
  src/rules/functional-parameters.ts
  src/rules/immutable-data.ts
  src/rules/no-class-inheritance.ts
  src/rules/no-classes.ts
  src/rules/no-conditional-statements.ts
  src/rules/no-expression-statements.ts
  src/rules/no-let.ts
  src/rules/no-loop-statements.ts
  src/rules/no-mixed-types.ts
  src/rules/no-promise-reject.ts
  src/rules/no-return-void.ts
  src/rules/no-this-expressions.ts
  src/rules/no-throw-statements.ts
  src/rules/no-try-statements.ts
  src/rules/prefer-immutable-types.ts
  src/rules/prefer-property-signatures.ts
  src/rules/prefer-readonly-type.ts
  src/rules/prefer-tacit.ts
  src/rules/readonly-type.ts
  src/rules/type-declaration-immutability.ts
  src/utils/rule.ts
Due: prettier --write, eslint --fix, cspell --config=.cspell.json, cspell lint --no-progress --show-suggestions --show-context --no-must-find-files --dot, pnpm dedupe && :

chore(release): 7.2.2 [skip ci]
  CHANGELOG.md
Due: prettier --write, eslint --fix, cspell --config=.cspell.json, cspell lint --no-progress --show-suggestions --show-context --no-must-find-files --dot, markdownlint-cli2 --fix

Notes added by 'git notes add'
  9f9223e38fad3c641a45e4ca0572aab38b730c1d
Due: none

fix(prefer-tacit): improve suggestion message
  src/rules/prefer-tacit.ts
Due: prettier --write, eslint --fix, cspell --config=.cspell.json

feat(type-declaration-immutability): allow defining custom suggestion messages
  src/rules/type-declaration-immutability.ts
Due: prettier --write, eslint --fix, cspell --config=.cspell.json

fix: prefix PrivateIdentifier names with a #
  src/utils/misc.ts
Due: prettier --write, eslint --fix, cspell --config=.cspell.json

test: update test snapshot
  tests/rules/__snapshots__/prefer-tacit.test.ts.snap
Due: none

Notes added by 'git notes add'
  3999418ad94efc5c6c2cbd85c1fb0e45a703bbab
Due: none

chore(release): 7.3.0 [skip ci]
  CHANGELOG.md
Due: prettier --write, eslint --fix, cspell --config=.cspell.json, cspell lint --no-progress --show-suggestions --show-context --no-must-find-files --dot, markdownlint-cli2 --fix

fix: prefix PrivateIdentifier names with a # (#921)
  src/utils/misc.ts
Due: prettier --write, eslint --fix, cspell --config=.cspell.json

chore(release): 7.3.1 [skip ci]
  CHANGELOG.md
Due: prettier --write, eslint --fix, cspell --config=.cspell.json, cspell lint --no-progress --show-suggestions --show-context --no-must-find-files --dot, markdownlint-cli2 --fix

Notes added by 'git notes add'
  2b554d2e957da9b715c6c4c6be0cd4db50d7ed8f
Due: none

chore(release): 8.0.0 [skip ci]
  CHANGELOG.md
Due: prettier --write, eslint --fix, cspell --config=.cspell.json, cspell lint --no-progress --show-suggestions --show-context --no-must-find-files --dot, markdownlint-cli2 --fix

Notes added by 'git notes add'
  793324a4af14c412ce6b5252617419fb94ec687b
Due: none

feat(immutable-data): add support for detecting map and set mutations (#935)
  docs/rules/immutable-data.md
  src/options/ignore.ts
  src/rules/immutable-data.ts
  src/utils/misc.ts
  src/utils/type-guards.ts
  tests/rules/immutable-data/__snapshots__/map.test.ts.snap
  tests/rules/immutable-data/__snapshots__/set.test.ts.snap
  tests/rules/immutable-data/map.test.ts
  tests/rules/immutable-data/set.test.ts
Due: prettier --write, eslint --fix, cspell --config=.cspell.json, cspell lint --no-progress --show-suggestions --show-context --no-must-find-files --dot, markdownlint-cli2 --fix

chore(release): 9.0.0 [skip ci]
  CHANGELOG.md
Due: prettier --write, eslint --fix, cspell --config=.cspell.json, cspell lint --no-progress --show-suggestions --show-context --no-must-find-files --dot, markdownlint-cli2 --fix

Notes added by 'git notes add'
  37fa1ef9c370e390ddf45806bd2d218cb0d6ae67
Due: none

fix(immutable-data): make ignoreMapsAndSets option actually work (#936)
  src/rules/immutable-data.ts
  tests/rules/immutable-data/map.test.ts
  tests/rules/immutable-data/set.test.ts
Due: prettier --write, eslint --fix, cspell --config=.cspell.json

chore(release): 9.0.1 [skip ci]
  CHANGELOG.md
Due: prettier --write, eslint --fix, cspell --config=.cspell.json, cspell lint --no-progress --show-suggestions --show-context --no-must-find-files --dot, markdownlint-cli2 --fix

Notes added by 'git notes add'
  08145d8e1102626055432d756782fe2d0c2f99c8
Due: none

chore: repo set up update
  .gitattributes
  .github/labels.yml
  .github/renovate.json
  .github/workflows/lint-knip-dev.yml
  .github/workflows/lint-knip.yml
  .github/workflows/release.yml
  .gitignore
  .lintstagedrc.yml
  .npmrc
  .nvmrc
  .releaserc.yml
  knip.jsonc
  package.json
  pnpm-lock.yaml
  rollup.config.ts
  src/tsconfig.build.json
  src/tsconfig.json
  src/utils/type-specifier.ts
  tsconfig.base.json
  tsconfig.build.json
  tsconfig.build.types.json
  tsconfig.json
  vitest.config.ts
Due: prettier --write, eslint --fix, cspell --config=.cspell.json, cspell lint --no-progress --show-suggestions --show-context --no-must-find-files --dot, pnpm dedupe && :

fix: mark no-throw-statements rule as requiring type checking
  src/rules/no-throw-statements.ts
Due: prettier --write, eslint --fix, cspell --config=.cspell.json

fix: prevent to report `prefer-tacit` in direct child of getter
  src/rules/prefer-tacit.ts
  tests/rules/prefer-tacit.test.ts
Due: prettier --write, eslint --fix, cspell --config=.cspell.json
