Repository eslint-functional/eslint-plugin-functional: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix, cspell --config=.cspell.json, prettier --ignore-unknown --write, cspell, markdownlint --config=.markdownlint.json --ignore-path=.markdownlintignore

build: use ts-api-tools
  package.json
  pnpm-lock.yaml
  src/rules/no-conditional-statements.ts
  src/utils/rule.ts
  src/utils/tsutils.ts
Due: prettier --write, eslint --fix, cspell --config=.cspell.json, prettier --ignore-unknown --write, cspell

refactor: use type guards from typescript itself
  src/rules/no-conditional-statements.ts
  src/utils/rule.ts
  src/utils/tsutils.ts
Due: prettier --write, eslint --fix, cspell --config=.cspell.json, prettier --ignore-unknown --write, cspell

refactor: use type guards from typescript itself (#574)
  src/rules/no-conditional-statements.ts
  src/utils/rule.ts
  src/utils/tsutils.ts
Due: prettier --write, eslint --fix, cspell --config=.cspell.json, prettier --ignore-unknown --write, cspell

chore(release): 5.0.7 [skip ci]
  CHANGELOG.md
Due: prettier --write, cspell --config=.cspell.json, prettier --ignore-unknown --write, cspell, markdownlint --config=.markdownlint.json --ignore-path=.markdownlintignore

Notes added by 'git notes add'
  44520f55210966460b0c21878a627ae209d9b5f1
Due: none

chore: update repo files
  .commitlintrc.cjs
  .cspell.json
  .eslintrc.json
  .gitattributes
  .github/workflows/build-docs.yml
  .github/workflows/build-node.yml
  .github/workflows/lint-docs.yml
  .github/workflows/lint-knip-dev.yml
  .github/workflows/lint-knip-prod.yml
  .github/workflows/release.yml
  .github/workflows/test-js.yml
  .releaserc.yml
  cz-adapter/engine.ts
  knip.jsonc
  package.json
  pnpm-lock.yaml
  rollup.config.ts
  src/utils/rule.ts
  tests/helpers/configs.ts
  tests/helpers/testers.ts
  tests/helpers/util.ts
  tests/tsconfig.json
  tsconfig.base.json
Due: prettier --write, eslint --fix, cspell --config=.cspell.json, prettier --ignore-unknown --write, cspell

chore: update repo files (#597)
  .commitlintrc.cjs
  .cspell.json
  .eslintrc.json
  .gitattributes
  .github/workflows/build-docs.yml
  .github/workflows/build-node.yml
  .github/workflows/lint-docs.yml
  .github/workflows/lint-knip-dev.yml
  .github/workflows/lint-knip-prod.yml
  .github/workflows/release.yml
  .github/workflows/test-js.yml
  .releaserc.yml
  cz-adapter/engine.ts
  knip.jsonc
  package.json
  pnpm-lock.yaml
  rollup.config.ts
  src/utils/rule.ts
  tests/helpers/configs.ts
  tests/helpers/testers.ts
  tests/helpers/util.ts
  tests/tsconfig.json
  tsconfig.base.json
Due: prettier --write, eslint --fix, cspell --config=.cspell.json, prettier --ignore-unknown --write, cspell

chore: fixup repot files
  .eslintrc.json
  .github/workflows/lint-docs.yml
  cz-adapter/.eslintrc.json
  cz-adapter/index.js
  cz-adapter/tsconfig.json
  package.json
Due: prettier --write, prettier --ignore-unknown --write

chore: update launch config
  .vscode/launch.json
Due: prettier --write, prettier --ignore-unknown --write

feat(prefer-immutable-types)!: use suggestions instead of a fixer by default
  README.md
  docs/rules/prefer-immutable-types.md
  src/rules/prefer-immutable-types.ts
  tests/rules/prefer-immutable-types/ts/parameters/invalid.ts
  tests/rules/prefer-immutable-types/ts/return-types/invalid.ts
  tests/rules/prefer-immutable-types/ts/variables/invalid.ts
Due: prettier --write, eslint --fix, cspell --config=.cspell.json, prettier --ignore-unknown --write, cspell, markdownlint --config=.markdownlint.json --ignore-path=.markdownlintignore

refactor: use ts-api-utils
  package.json
  pnpm-lock.yaml
  src/rules/no-conditional-statements.ts
  src/rules/no-expression-statements.ts
  src/rules/no-return-void.ts
  src/utils/conditional-imports/ts-api-utils.ts
  src/utils/type-guards.ts
Due: prettier --write, eslint --fix, cspell --config=.cspell.json, prettier --ignore-unknown --write, cspell

build: update build process
  package.json
  patches/@rollup__plugin-typescript@11.0.0.patch
  pnpm-lock.yaml
  rollup.config.ts
Due: prettier --write, eslint --fix, cspell --config=.cspell.json, prettier --ignore-unknown --write, cspell

chore: update to typescript-eslint v6 rc
  package.json
  pnpm-lock.yaml
Due: prettier --write, prettier --ignore-unknown --write

feat(prefer-immutable-types)!: use suggestions instead of a fixer by default (#598)
  README.md
  docs/rules/prefer-immutable-types.md
  src/rules/prefer-immutable-types.ts
  tests/rules/prefer-immutable-types/ts/parameters/invalid.ts
  tests/rules/prefer-immutable-types/ts/return-types/invalid.ts
  tests/rules/prefer-immutable-types/ts/variables/invalid.ts
Due: prettier --write, eslint --fix, cspell --config=.cspell.json, prettier --ignore-unknown --write, cspell, markdownlint --config=.markdownlint.json --ignore-path=.markdownlintignore

chore: remove "recommended" docs meta as we're not using it
  src/rules/functional-parameters.ts
  src/rules/immutable-data.ts
  src/rules/no-classes.ts
  src/rules/no-conditional-statements.ts
  src/rules/no-expression-statements.ts
  src/rules/no-let.ts
  src/rules/no-loop-statements.ts
  src/rules/no-mixed-types.ts
  src/rules/no-promise-reject.ts
  src/rules/no-return-void.ts
  src/rules/no-this-expressions.ts
  src/rules/no-throw-statements.ts
  src/rules/no-try-statements.ts
  src/rules/prefer-immutable-types.ts
  src/rules/prefer-property-signatures.ts
  src/rules/prefer-readonly-type.ts
  src/rules/prefer-tacit.ts
  src/rules/readonly-type.ts
  src/rules/type-declaration-immutability.ts
  tests/helpers/util.ts
Due: prettier --write, eslint --fix, cspell --config=.cspell.json, prettier --ignore-unknown --write, cspell

chore: update tsconfigs
  scripts/tsconfig.json
  tests/tsconfig.json
Due: prettier --write, prettier --ignore-unknown --write

style: update linting
  .eslintrc.json
  docs/rules/prefer-immutable-types.md
  docs/rules/prefer-readonly-type.md
  package.json
  pnpm-lock.yaml
  scripts/.eslintrc.json
  src/rules/prefer-immutable-types.ts
  tests/helpers/configs.ts
Due: prettier --write, eslint --fix, cspell --config=.cspell.json, prettier --ignore-unknown --write, cspell, markdownlint --config=.markdownlint.json --ignore-path=.markdownlintignore

feat(prefer-immutable-types): add support for ignoring types by a specifier
  src/rules/prefer-immutable-types.ts
  src/utils/rule.ts
  tests/rules/prefer-immutable-types/ts/parameters/invalid.ts
  tests/rules/prefer-immutable-types/ts/parameters/valid.ts
Due: prettier --write, eslint --fix, cspell --config=.cspell.json, prettier --ignore-unknown --write, cspell

fix(prefer-immutable-types): support private identifier
  src/utils/misc.ts
  src/utils/type-guards.ts
  tests/rules/prefer-immutable-types/ts/variables/valid.ts
Due: prettier --write, eslint --fix, cspell --config=.cspell.json, prettier --ignore-unknown --write, cspell

fix(prefer-immutable-types): support private identifier (#634)
  src/utils/misc.ts
  src/utils/type-guards.ts
  tests/rules/prefer-immutable-types/ts/variables/valid.ts
Due: prettier --write, eslint --fix, cspell --config=.cspell.json, prettier --ignore-unknown --write, cspell

chore(release): 5.0.8 [skip ci]
  CHANGELOG.md
Due: prettier --write, cspell --config=.cspell.json, prettier --ignore-unknown --write, cspell, markdownlint --config=.markdownlint.json --ignore-path=.markdownlintignore

Notes added by 'git notes add'
  ab6f9f74dd85a1972a12ad06af773b784995d79e
Due: none

chore: create SECURITY.md
  SECURITY.md
Due: prettier --write, cspell --config=.cspell.json, prettier --ignore-unknown --write, cspell, markdownlint --config=.markdownlint.json --ignore-path=.markdownlintignore

build: update build process
  package.json
  pnpm-lock.yaml
  rollup.config.ts
Due: prettier --write, eslint --fix, cspell --config=.cspell.json, prettier --ignore-unknown --write, cspell

chore: update to typescript-eslint v6
  package.json
  pnpm-lock.yaml
Due: prettier --write, prettier --ignore-unknown --write

style: update linting
  .eslintrc.json
  docs/rules/prefer-immutable-types.md
  docs/rules/prefer-readonly-type.md
  scripts/.eslintrc.json
  src/rules/prefer-immutable-types.ts
  tests/helpers/configs.ts
Due: prettier --write, eslint --fix, cspell --config=.cspell.json, prettier --ignore-unknown --write, cspell, markdownlint --config=.markdownlint.json --ignore-path=.markdownlintignore

test: update test configs
  src/rules/readonly-type.ts
  tests/fixture/file.ts
  tests/fixture/tsconfig.json
  tests/helpers/AvaRuleTester.ts
  tests/helpers/configs.ts
  tests/helpers/test-tsconfig.json
Due: prettier --write, eslint --fix, cspell --config=.cspell.json, prettier --ignore-unknown --write, cspell

chore: small update
  .github/actions/prepare/action.yml
  .github/workflows/sync-labels.yml
  package.json
  pnpm-lock.yaml
  src/rules/prefer-immutable-types.ts
Due: prettier --write, eslint --fix, cspell --config=.cspell.json, prettier --ignore-unknown --write, cspell

feat!: remove `assumeTypes` option
  docs/rules/immutable-data.md
  docs/rules/prefer-tacit.md
  src/configs/all.ts
  src/configs/stylistic.ts
  src/rules/immutable-data.ts
  src/rules/prefer-tacit.ts
  src/utils/type-guards.ts
  tests/rules/immutable-data/ts/array/invalid.ts
  tests/rules/immutable-data/ts/array/valid.ts
  tests/rules/immutable-data/ts/object/invalid.ts
  tests/rules/prefer-tacit/ts/invalid.ts
Due: prettier --write, eslint --fix, cspell --config=.cspell.json, prettier --ignore-unknown --write, cspell, markdownlint --config=.markdownlint.json --ignore-path=.markdownlintignore

test: is-immutable-type now requires types to actually exist
  package.json
  pnpm-lock.yaml
  tests/rules/prefer-immutable-types/ts/parameters/invalid.ts
  tests/rules/type-declaration-immutability/ts/valid.ts
Due: prettier --write, eslint --fix, cspell --config=.cspell.json, prettier --ignore-unknown --write, cspell

test(immutable-data): fix some tests not running
  tests/rules/immutable-data/ts/index.ts
Due: prettier --write, eslint --fix, cspell --config=.cspell.json, prettier --ignore-unknown --write, cspell

style: update linting
  .eslintrc.json
  knip.jsonc
  src/rules/no-expression-statements.ts
  src/rules/no-mixed-types.ts
  src/rules/prefer-readonly-type.ts
  src/settings/immutability.ts
  tests/helpers/util.ts
Due: prettier --write, eslint --fix, cspell --config=.cspell.json, prettier --ignore-unknown --write, cspell

Path conditions:
  prettier --write: ((any of: ./**/*.{json,jsonc,yml}) or (any of: ./**/*.ts)) or (any of: ./**/*.md)
  eslint --fix: (any of: ./**/*.ts) or (any of: *.ts)
  cspell --config=.cspell.json: (any of: ./**/*.ts) or (any of: ./**/*.md)
  prettier --ignore-unknown --write: ((any of: *.{json,yml}) or (any of: *.ts)) or (any of: *.md)
  cspell: (any of: *.ts) or (any of: *.md)
  markdownlint --config=.markdownlint.json --ignore-path=.markdownlintignore: any of: *.md
