Repository eslint-functional/eslint-plugin-functional: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix, cspell --config=.cspell.json

chore: use level 2 heading
  .github/PULL_REQUEST_TEMPLATE.md
Due: prettier --write, cspell --config=.cspell.json

ci: fix release action
  .github/workflows/release.yml
Due: prettier --write

chore(release): 5.0.0 [skip ci]
  CHANGELOG.md
Due: prettier --write, cspell --config=.cspell.json

Notes added by 'git notes add'
  342b86e601d4d9aeddf54c98ccbfcf4267ffb151
Due: none

docs: add dependency peerDependencies to getting started
  GETTING_STARTED.md
Due: prettier --write, cspell --config=.cspell.json

fix: improve calculation of immutability involving intersections
  package.json
  yarn.lock
Due: prettier --write

chore(release): 5.0.1 [skip ci]
  CHANGELOG.md
Due: prettier --write, cspell --config=.cspell.json

Notes added by 'git notes add'
  97c5ea4883bd9687679568accabded04ef69f9c3
Due: none

fix(prefer-immutable-types): handling of destructuring assignment
  src/rules/prefer-immutable-types.ts
  src/utils/type-guards.ts
  tests/rules/prefer-immutable-types/ts/variables/invalid.ts
  tests/rules/prefer-immutable-types/ts/variables/valid.ts
Due: prettier --write, eslint --fix, cspell --config=.cspell.json

chore(release): 5.0.2 [skip ci]
  CHANGELOG.md
Due: prettier --write, cspell --config=.cspell.json

Notes added by 'git notes add'
  369e77269034b80e15af0de8822e7503d7c5960b
Due: none

docs: update readme
  README.md
  package.json
  yarn.lock
Due: prettier --write, cspell --config=.cspell.json

fix: add missing dependency "@typescript-eslint/type-utils"
  GETTING_STARTED.md
  package.json
  yarn.lock
Due: prettier --write, cspell --config=.cspell.json

chore(release): 5.0.3 [skip ci]
  CHANGELOG.md
Due: prettier --write, cspell --config=.cspell.json

Notes added by 'git notes add'
  8efc7ddf083dd8670c53bbdbdf5cc2836e376233
Due: none

fix(prefer-immutable-types): inheriting of config options
  src/rules/prefer-immutable-types.ts
  tests/rules/prefer-immutable-types/ts/parameters/valid.ts
Due: prettier --write, eslint --fix, cspell --config=.cspell.json

chore(release): 5.0.4 [skip ci]
  CHANGELOG.md
Due: prettier --write, cspell --config=.cspell.json

Notes added by 'git notes add'
  52ba9806d1b3b7294e5c20e29e8485edb9eb6852
Due: none

chore: update renovate
  .github/renovate.json
Due: prettier --write

docs: fix heading level
  docs/rules/functional-parameters.md
Due: prettier --write, cspell --config=.cspell.json

test: run js tests with @babel/eslint-parser
  package.json
  pnpm-lock.yaml
  tests/helpers/configs.ts
  tests/rules/immutable-data/es6/object/invalid.ts
  tests/rules/immutable-data/es6/object/valid.ts
  tests/rules/immutable-data/index.test.ts
  tests/rules/immutable-data/ts/index.ts
  tests/rules/immutable-data/ts/object/index.ts
  tests/rules/immutable-data/ts/object/invalid.ts
  tests/rules/immutable-data/ts/object/valid.ts
Due: prettier --write, eslint --fix, cspell --config=.cspell.json

test: run js tests with @babel/eslint-parser (#569)
  package.json
  pnpm-lock.yaml
  tests/helpers/configs.ts
  tests/rules/immutable-data/es6/object/invalid.ts
  tests/rules/immutable-data/es6/object/valid.ts
  tests/rules/immutable-data/index.test.ts
  tests/rules/immutable-data/ts/index.ts
  tests/rules/immutable-data/ts/object/index.ts
  tests/rules/immutable-data/ts/object/invalid.ts
  tests/rules/immutable-data/ts/object/valid.ts
Due: prettier --write, eslint --fix, cspell --config=.cspell.json

fix(no-expression-statements): allow yield expressions
  src/rules/no-expression-statements.ts
  src/utils/type-guards.ts
  tests/rules/no-expression-statement/es6/index.ts
  tests/rules/no-expression-statement/es6/invalid.ts
  tests/rules/no-expression-statement/es6/valid.ts
  tests/rules/no-expression-statement/index.test.ts
Due: prettier --write, eslint --fix, cspell --config=.cspell.json

fix(no-expression-statements): allow yield expressions (#570)
  src/rules/no-expression-statements.ts
  src/utils/type-guards.ts
  tests/rules/no-expression-statement/es6/index.ts
  tests/rules/no-expression-statement/es6/invalid.ts
  tests/rules/no-expression-statement/es6/valid.ts
  tests/rules/no-expression-statement/index.test.ts
Due: prettier --write, eslint --fix, cspell --config=.cspell.json

chore(release): 5.0.5 [skip ci]
  CHANGELOG.md
Due: prettier --write, cspell --config=.cspell.json

Notes added by 'git notes add'
  df3f078d67ba8fa96ebf2b7dd67363b3d1e1db91
Due: none

ci: refactor ci workflows
  .github/workflows/ci.yml
  .github/workflows/release.yml
Due: prettier --write

revert: "ci: refactor ci workflows"
  .github/workflows/ci.yml
  .github/workflows/release.yml
Due: prettier --write

docs: update workflow badge
  README.md
Due: prettier --write, cspell --config=.cspell.json

Fix typo
  docs/rules/prefer-immutable-types.md
Due: prettier --write, cspell --config=.cspell.json

docs: fix typo in docs/rules/prefer-immutable-types.md (#571)
  docs/rules/prefer-immutable-types.md
Due: prettier --write, cspell --config=.cspell.json

chore: small repo changes
  .github/workflows/lint-prettier.yml
  .releaserc
  package.json
Due: prettier --write

ci: fix release permissions
  .github/workflows/release.yml
Due: prettier --write

chore: bump deps
  package.json
  pnpm-lock.yaml
Due: prettier --write

fix(type-declaration-immutability): only allow string to be given for patterns
  src/configs/recommended.ts
  src/rules/type-declaration-immutability.ts
  tests/rules/type-declaration-immutability/ts/invalid.ts
  tests/rules/type-declaration-immutability/ts/valid.ts
Due: prettier --write, eslint --fix, cspell --config=.cspell.json

fix(type-declaration-immutability): only allow strings to be given for identifiers (#573)
  src/configs/recommended.ts
  src/rules/type-declaration-immutability.ts
  tests/rules/type-declaration-immutability/ts/invalid.ts
  tests/rules/type-declaration-immutability/ts/valid.ts
Due: prettier --write, eslint --fix, cspell --config=.cspell.json

chore(release): 5.0.6 [skip ci]
  CHANGELOG.md
Due: prettier --write, cspell --config=.cspell.json

Notes added by 'git notes add'
  122bdbf403eaca1731c4b59f8a5766ec1231f91c
Due: none

Path conditions:
  prettier --write: ((any of: ./**/*.{json,jsonc,yml}) or (any of: ./**/*.ts)) or (any of: ./**/*.md)
  eslint --fix: any of: ./**/*.ts
  cspell --config=.cspell.json: (any of: ./**/*.ts) or (any of: ./**/*.md)
